.forgot__password {
  max-width: 357px;
  &__form {
    margin-top: 16px;
    button {
      padding: 10px 16px;
      width: 100%;
    }
    input {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}

.password__resetted {
  max-width: 357px;
  a {
    padding: 10px 16px;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .forgot__password {
    button {
      width: fit-content;
    }
  }

  .password__resetted {
    a {
      width: fit-content;
    }
  }
}
