button {
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--primary-50);
  column-gap: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: "Work Sans";
  padding: 14px 18px;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 1;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
