<div class="quote-submission-page">

  <div class="quote-submission-page__loader" *ngIf="!shoppingCart">
    <atm-loader-points />
  </div>

  <div *ngIf="shoppingCart">

    <div class="quote-submission-page__banner" *ngIf="addressId !== ''">
      <mol-quote-change-banner [showAlert]="addressId !== ''" />
    </div>

    <div class="breadcrumbs">
      <a routerLink="/shopping-cart">
          <ng-icon name="heroArrowLeft" size="16"></ng-icon>
          Volver al Carrito
      </a>
    </div>

    <div class="quote-submission-page__content">

      <div class="quote-submission-page__content__list">
        <h1 class="text-primary-500 text-uppercase">Enviar Cotización</h1>
        <h5>Partidas</h5>
        <p class="text-paragraph" *ngIf="hasProductWithExpressFreight()">
          * Al marcar la casilla de “Flete express” de una partida, también se marcará en partidas de la misma marca.
        </p>
        <div class="quote-items">
          <org-shopping-cart-item-card
            *ngFor="let item of shoppingCart.listQuotationItem"
            [product]="item"
            [cartMode]="false"
            [showExpressFreightInput]="true"
            (expressFreightChange)="onExpressFreightChange($event)"
            [disabledExpressFreightCheckbox]="!addressId || isLoading || addressId === 'other'"
            [checkboxMarked]="item.appliesFreightExpress"
          />
        </div>
      </div>

      <div class="quote-submission-page__content__summary">

        <div class="quote-submission-page__content__summary__container">
          <div class="address section">
            <h3 class="text-title-4">Dirección de Entrega</h3>
            <mol-address-selector
              (addressSelectedEmitter)="onAddressSelected($event)"
              (selectedOtherEmitter)="onOtherSelected()">
            </mol-address-selector>
            <div class="other-selection" *ngIf="addressId === 'other'">
              <span class="text-body-medium text-amber-500">
                Al elegir esta opción de entrega, tu <br>
                cotización será atendida directamente <br>
                por un Asesor Comercial.
              </span>
              <ng-icon name="heroInformationCircleSolid" size="24" color="#F59E0B"/>
            </div>
          </div>

          <div class="section">
            <h3 class="text-title-4">Información del cliente</h3>
            <org-quote-user-info [address]="shoppingCart.quotationDetails.address"/>
          </div>

          <div class="section">
            <h3 class="text-title-4">Totales</h3>
            <org-quote-totals [quote]="shoppingCart"/>
          </div>

          <div class="actions text-paragraph">
            <button
              class="btn text-large text-gray-green-50"
              (click)="submitQuote()"
              [disabled]="!addressId || isLoading || shoppingCart.listQuotationItem.length <= 0"
            >
            <span *ngIf="!isLoading">Enviar Cotización</span>
            <span *ngIf="isLoading"><atm-loader-circle message="Cargando"/></span>

            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
