.atm-category-card {
  align-items: start;
  background-color: var(--gray-green-50);
  column-gap: 16px;
  display: grid;
  grid-template-columns: 44px 1fr;
  padding: 16px;
  text-align: left;
  text-decoration: none;
  width: 343.5px;

  &__icon {
    align-items: center;
    display: grid;
    justify-content: center;
    padding: 6px;
    img {
      height: 32px;
      width: 32px;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  @media (min-width: 1024px) {
    align-items: center;
  }
}
