.org-split-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    &__section {
        width: 100%;

        &.--left {
            display: none;
        }

        &.--right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__content {
            width: 100%;
            padding: 16px;
            height: 100%;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            row-gap: 44px;
            &:has(.justify-centered) {
                justify-content: center;
            }
        }

        &__hero {
            width: 183.83px;
            height: 40px;
        }

        &__banner {
            height: 100%;
            width: 100%;
            overflow: hidden;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

    }

}

@media (min-width: 1024px) {
    .org-split-screen {
        &__section {
            &.--left {
                display: unset;
            }
            &__content {
                padding: 10% 20% 10% 20%;
            }
        }
    }
}