<div class="not-found">
  <div class="not-found__image mb-32">
    <img src="assets/icons/not-found.svg" alt="not found" />
  </div>
  <h1 class="text-neutral-900 m-0">Error 404</h1>
  <p class="not-found__instructions text-center text-gray-green-800">
    No hemos encontrado la página que buscas. Revisa la dirección URL o explora
    nuestro amplio catálogo de opciones.
  </p>

  <div class="not-found__categories">
    <div class="not-found__categories__item">
      <atm-category-card
        *ngFor="let navigationItem of categories"
        [category]="navigationItem"
      ></atm-category-card>
    </div>
  </div>
</div>
