.thank-you-page {
  display: grid;
  max-width: 1200px;
  row-gap: 1rem;
  &__content {
    display: grid;
    gap: 26px;
    grid-template-areas: "header"
                         "summary"
                         "quoteitems"
                         "nextstep"
    ;
    &__header {
      grid-area: header;
      h1,
      p {
        display: block;
        margin: 0 auto;
        max-width: 420px;
      }
      h1 {
        font-family: "Stellar";
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 32px;
        margin-bottom: 8px;
        text-align: center;
        text-transform: uppercase;
      }
      p {
        text-align: center;
      }
      .disclaimer {
        background-color: var(--orange-50);
        column-gap: 0.5rem;
        display: grid;
        grid-template-columns: 1fr auto;
        margin-top: 8px;
        max-width: unset;
        padding: 0.5rem;
      }
    }
    &__quote__items {
      display: grid;
      grid-area: quoteitems;
      row-gap: 1rem;
      h5 {
        margin: 0;
      }
    }
    &__summary {
      background-color: var(--neutral-100);
      display: grid;
      grid-area: summary;
      padding: 1rem;
      row-gap: 1rem;
    }
    &__next__step {
      grid-area: nextstep;
      h3,
      span {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
      .actions {
        column-gap: 0.5rem;
        display: grid;
        grid-template-areas:  "button"
                              "link";
        justify-content: center;
        justify-items: center;
        margin: 1rem auto;
        row-gap: 0.5rem;
        text-align: center;
        button {
          border: 0;
          min-height: 40px;
          min-width: 175px;
        }
        .quotes-link {
          color: var(--primary-500);
          grid-area: link;
        }
        .primary-link {
          background-color: var(--primary-500);
          color: white;
          grid-area: button;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    &__content {
      align-items: start;
      column-gap: 0px;
      grid-template-areas:
        "header summary"
        "quoteitems summary"
        "quoteitems nextstep";
      grid-template-columns: 68% 32%;
      grid-template-rows: auto auto 1fr;
      row-gap: 16px;
      &__header {
        padding: 16px 16px 0px 16px;
        h1 {
          font-size: 36px;
          line-height: 40px;
          margin-bottom: 16px;
        }
        .disclaimer {
          margin-top: 16px;
        }
      }
      &__quote__items {
        padding: 0px 16px 16px 16px;
      }
      &__summary {
        row-gap: 24px;
        .customer-info {
          h4 {
            display: block;
            font-family: "Work Sans";
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.5px;
            line-height: 20px;
            margin: 0px 0px 16px 0px;
          }
        }
      }
      &__next__step {
        .actions {
          grid-template-areas: "link button";
          button {
            min-width: unset;
          }
        }
      }
    }
  }
}
