.categories-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 24px;
  padding: 16px;
  @media (min-width: 1024px) {
    padding: 0px;
  }
}

.categories-list {
  display: block;
}

h1 {
  font-family: "Stellar";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0px;
  text-transform: uppercase;

  @media (min-width: 1024px) {
    font-size: 48px;
    line-height: 56px;
  }
}

p {
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 28px;
    max-width: 782px;
  }
}

@media (min-width: 1024px) {
  .categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1rem;

    &__element {
      flex-basis: 21%;
    }
  }
}
