<div class="categories-gallery">

    @if(!isOnlyCategories) {
        <h2 class="text-title-2 text-primary-500">POTENCIANDO LA EXCELENCIA EN LA PRESICIÓN FARMACEÚTICA</h2>
        <p class="text-large text-gray-green-700">Ofreciendo desde hace más de 35 años estándares de referencia de la más alta calidad, columnas cromatográficas y más productos que benefician y generan grandes ahorros en el presupuesto del laboratorio.</p>
    }
    
    <div class="categories-list">
        <org-category-card *ngFor="let category of categories" [category]="category"></org-category-card>
    </div>
</div>