<a
  (mouseover)="isHovered = true"
  (mouseleave)="isHovered = false"
  [routerLink]="['/products', product.idProduct]"
  [ngClass]="['product', 'no-decoration']"
>
  <!-- Header -->
  <div class="product__header">
    <div class="product__header__section__brand">
      <div class="cat__cas">
        <span *ngIf="product.cas"> CAS <strong>{{ product.cas }}</strong></span>
        <span *ngIf="product.catalog">CAT <strong>{{ product.catalog }}</strong></span>
      </div>
      <img
        *ngIf="brandImgPath"
        [src]="brandImgPath"
        alt="product brand"
        class="brand-img"
        width="40"
        height="40"
      />
    </div>
  </div>

  <!-- Img -->
  <div class="product__img">
    <img [src]="presentationImgPath" alt="image product" />

    <button
      *ngIf="enablePreviewViewButton && isHovered"
      class="hover-button"
      (click)="openPreviewViewModal($event)"
    >
      <ng-icon name="heroEye" size="24"/>
      <span>Vista Previa</span>
    </button>
  </div>

  <!-- Details -->
  <div class="product__details">
    <div class="product__details__controlled__label" *ngIf="product.controlled">
      <ng-icon class="icon" size="16" name="heroLockClosed"></ng-icon>
      <span>Controlado</span>
    </div>

    <p class="product__details__type" *ngIf="!product.controlled">
      {{ product.type }}
    </p>

    <p class="text-body text-gray-green-900 product-description">{{ product.description }}</p>

    @if (!product.controlled || isLogged) {
      <div class="product__details__shopping">
        <div class="product__details__shopping__price">
          <p class="text-small text-gray-green-500 line-through" *ngIf="isLogged && priceWeb">
            {{ priceWeb | usdCurrency }}
          </p>
          <p class="text-title-5 text-primary-500">
            {{ price | usdCurrency }}
          </p>
        </div>
        <atm-shopping-button [product]="product" />
      </div>
      <div class="product__details__delivery">
        <div class="text-x-small instant" *ngIf="hasExistingStock">
          <ng-icon class="icon" size="12" strokeWidth="2" name="heroCheckCircle"></ng-icon>
          <span>Entrega inmediata </span>
        </div>
        <p
          class="text-x-small text-blue-900"
          *ngIf="product.offert.deliveryTimeDays && !hasExistingStock"
        >
          Envío en
          <strong class="text-600">{{ product.offert.deliveryTimeDays }} Días</strong>
        </p>
        <p class="text-x-small text-blue-900" *ngIf="product.isbn">
          ISBN <strong class="text-600">{{ product.isbn }}</strong>
        </p>
      </div>
    } @else if (product.controlled) {
      <div class="product__details__controlled text-small-regular">
        Regístrate para obtener un precio
      </div>
    }
  </div>
</a>

<atm-featured-product-modal [isOpen]="isModalOpen" (close)="isModalOpen = false">
  <org-product-details-card [product]="product" [showSeeAllDetails]="true"/>
</atm-featured-product-modal>
