.products-grid {
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  row-gap: 10px;
  &.products-result {
    column-gap: 8px;
    row-gap: 8px;
  }

  @media (min-width: 1024px) {
    column-gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    &.products-result {
      column-gap: 16px;
      row-gap: 16px;
    }
    &.alternative-complementary {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
