.address-selector {
    .confirmation-modal {
      padding: 0 1rem;
      h4 {
        margin-top: 0;
        margin-bottom: 0.5rem;
      }
      .actions {
        column-gap: 0.5rem;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: end;
        margin-top: 0.5rem;
        .btn {
          display: inline-flex;
        }
      }
    }
    &__selected {
        background-color: white;
        border-radius: 2px;
        border: solid 1px var(--neutral-800);
        column-gap: 0.5rem;
        cursor: pointer;
        display: grid;
        grid-template-columns: 1fr auto;
        padding: 1rem;

        .selection {
          display: flex;
          flex-direction: column;
        }

        .icon {
          margin: auto;
        }
    }

    &__wrapper {
        position: relative;
        width: 100%;
        z-index: 1;
    }

    &__options {
        background-color: white;
        border-radius: 2px;
        border: 1px solid var(--neutral-400);
        box-shadow: 0px 4px 6px 0px #00000017;
        position: absolute;
        width: 100%;

        .option {
            background-color: white;
            border: 0;
            padding: 0.5rem;
            width: 100%;

            .option-item {
                background-color: white;
                border-radius: 6px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding: 6px 8px;
                text-align: left;
                width: 100%;

                &:hover {
                  background-color: var(--primary-100);
                }

            }

            &.other {
                border-top: 1px solid var(--neutral-400);
            }
          }
    }
}
