<div class="quote-product-order-card">

  <div class="quote-product-order-card__header">
    <div class="quote text-paragraph">Cotización: <span class="text-body-medium underline text-blue-600">{{quoteFolio}}</span></div>

    <div class="presentation">
      <img [src]="presentationImage" *ngIf="presentationImage">
    </div>

    <div class="cas-cat">
      <div class="cas" *ngIf="product.cas">
        <label class="text-subtle">CAS</label>
        <p class="text-paragraph">{{product.cas}}</p>
      </div>

      <div class="cat" *ngIf="product.catalog">
        <label class="text-subtle">CAT</label>
        <p class="text-paragraph">{{product.catalog}}</p>
      </div>
    </div>

    <div class="brand" *ngIf="brandImage">
      <img [src]="brandImage">
    </div>

  </div>


  <div class="quote-product-order-card__info">
    <div class="type">
      <div class="text-body text-bold">{{product.type}}</div>
    </div>

    <div class="description">
      <div class="text-paragraph">{{product.description}}</div>
    </div>
  </div>


  <div class="quote-product-order-card__totals">

    <div class="quantities">
      <div class="text-subtle">Cant.</div>
      <span class="text-title-3">{{product.quantity}}</span>
    </div>

    <div class="measures">
      <div class="text-subtle">U. Medida</div>
      <div class="text-title-5">{{ product.unitMeasure }}</div>
    </div>

    <div class="prices">
      <div class="text-subtle">Precio U.</div>
      <div>
        <span class="not-price text-subtle">{{ product.webPrice | usdCurrency }}</span>
        <span class="price text-title-5">{{ product.unitPrice | usdCurrency }}</span>
      </div>
    </div>

    <div class="total">
      <label class="text-subtle">Importe</label>
      <div class="text-title-3 text-primary-500">{{ product.totalPrice | usdCurrency }}</div>
    </div>

    <div class="delivery text-subtle" *ngIf="product.tee">
      Envío en {{product.tee}} días hábiles
    </div>
  </div>

  <div class="quote-product-order-card__action">
    <button type="button" class="add-product btn text-body-medium" (click)="addToOrder()" *ngIf="!product.inPurchaseOrder && mode==='add'">Agregar a Orden de Compra</button>
    <button type="button" class="remove-product btn text-body-medium" (click)="removeFromOrder()" *ngIf="!product.inPurchaseOrder && mode==='remove'">Remover de orden de compra</button>
    <div class="in-order-disclaimer text-body-medium" *ngIf="product.inPurchaseOrder">Asignada a Orden de Compra</div>
  </div>

</div>