.quote-product-order-card {
  border: solid 1px var(--neutral-400);
  border-radius: 2px;
  padding: 0.5rem;

  display: grid;
  row-gap: 0.8rem;


  &__header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    .quote {
      grid-column-end: span 3;
    }
    .cas-cat {
      display: grid;
      column-gap: 0.5rem;
      grid-template-columns: 1fr 1fr;
    }

    .cas,
    .cat {
      p {
        font-weight: 650;
      }
    }

    .presentation {
      img {
        width: 50px;
        height: 50px;
      }
    }
    .brand {
      padding: 0.5rem;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }


  &__totals {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas:  "measures prices"
                          "quantities total"
                          "delivery delivery";
    column-gap: 0.5rem;
    row-gap: 0.5rem;

    .quantities {
      grid-area: quantities;
    }

    .measures {
      grid-area: measures;
    }

    .prices {
      text-align: right;
      grid-area: prices;
      .not-price {
        text-decoration: line-through;
        margin-right: 0.5rem;
      }
    }

    .total {
      grid-area: total;
      text-align: right;
    }
    .delivery {
      grid-area: delivery;
      font-style: italic;
    }
  }

  &__action {
    button {
      width: 100%;
      border-radius: 2px;
    }
    .add-product {
      border: 0;
      color: white;
      background-color: var(--primary-500);
    }
    .remove-product {
      border: 1px solid var(--neutral-400);
      background-color: white;
    }
    .in-order-disclaimer {
      text-align: center;
      background-color: var(--orange-100);
      color: var(--orange-700);
      border-radius: 2px;
      padding: 0.5rem;
    }
  }

}
