.file-downloader {
  align-items: center;
  background-color: white;
  border-radius: 2px;
  border: 1px solid var(--neutral-400);
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px;
  width: 100%;
}
