.quote-change-banner {
  background-color: var(--orange-50);
  border-radius: 4px;
  border: 1px solid var(--orange-500);
  &__content {
    align-items: start;
    display: flex;
    gap: 8px;
    padding: 8px 16px;
    width: 100%;
    span {
      color: var(--gray-green-900);
      font-family: var(--font-secondary);
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
    }
  }
  @media (min-width: 1024px) {
    &__content {
      align-items: center;
      span {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

