<div class="product-details-page" [ngClass]="{ 'display-none': !product }">
  <div class="product-details-page__main-product">

    <org-product-details-card [product]="product">
      <button class="btn" (click)="toggleRelatedProducts(true)">
        <ng-icon name="heroSquaresPlus" size="24"></ng-icon>
        <span class="text-large">Alternativos y complementarios</span>
      </button>
    </org-product-details-card>
    
    <org-product-details [product]="product"></org-product-details>
  </div>
  <div
    class="product-details-page__related-products"
    [ngClass]="{ '--visible': isRelatedProductsVisible }"
  >
    <org-related-products [productId]="productId"></org-related-products>
  </div>
</div>
<div class="product-details-page__loading" *ngIf="!product">
  <atm-loader></atm-loader>
</div>

<org-help-contact></org-help-contact>
