.product {
  display: grid;
  grid-template-rows: auto auto 1fr;
  align-items: start;
  height: 100%;
  width: 100%;
  font-family: "Work Sans";
  border: 1px solid var(--gray-400);
  border-radius: 2px;

  &__header {
    padding: 2px 8px;
    min-height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__no__heading {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__section__brand {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cat__cas {
        display: flex;
        flex-direction: column;
        span {
          color: var(--gray-green-900);
          font-size: 9px;
          line-height: 14px;
        }
        strong {
          font-weight: 700;
        }
      }
    }
  }

  &__img {
    position: relative;
    height: 130px;
    background-color: var(--neutral-100);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 120px;
    }

    .hover-button {
      position: absolute;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 206px;
      gap: 8px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--primary-50);
      color: var(--primary-500);
      border: 1px solid var(--primary-500);
      padding: 8px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &:hover .hover-button {
    opacity: 1;
  }

  &__details {
    padding: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    word-break: break-all;

    &__heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .media-type {
        color: var(--cyan-700);
        font-size: 8px;
        line-height: 13px;
        font-weight: 700;
      }
    }

    &__controlled__label {
      display: flex;
      gap: 4px;
      align-items: center;
    }

    &__type {
      color: var(--primary-800);
      padding: 1.5px 0px;
      font-size: 10px;
      line-height: 13px;
      font-weight: 650;
    }

    .product-description {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .training-product-description,
    .product-author {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__shopping {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &__price__blurred {
        position: relative;
        .login-text {
          cursor: pointer;
          position: absolute;
          bottom: 0;
          text-decoration: underline;
        }
      }

      &__message {
        font-family: "Work Sans";
        background-color: var(--orange-50);
        border: 1px solid var(--orange-500);
        padding: 8px;
        border-radius: 4px;
        span {
          font-size: 12px;
          line-height: 16px;
          color: var(--gray-green-900);
          word-break: break-word;
        }
      }

    }

    &__controlled {
      padding: 2px;
      background-color: var(--yellow-300);
      color: var(--yellow-900);
      text-align: center;
      word-break: break-word;
    }

    .express {
      background-color: var(--yellow-200);
      color: var(--neutral-900);
      border-radius: 2px;
      font-weight: 900;
      padding: 2px 4px;
    }
    .instant {
      display: flex;
      align-items: center;
      gap: 2px;
      font-weight: 600;
      font-size: 10px;
      line-height: 13px;
      color: var(--orange-500);
    }
  }

  @media (min-width: 1024px) {
    //height: 318px;
  }
}
