
<div class="reset__password justify-centered" *ngIf="isTokenValid && !isPasswordChangeSuccess && !restError">
  <p class="text-title-2">
    Reinicia tu <br />
    Contraseña
  </p>
  <p class="text-subtle">
    Te recomendamos usar una contraseña única <br /> que no utilices en otros sitios
    web.
  </p>

  <form
    class="reset__password__form form-group"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-control">
      <label
        for="password"
        class="form-control__label text-body-medium text-gray-green-900">
        Nueva contraseña
      </label>
      <div
        class="text-body-medium text-gray-green-900 form-control__input"
        [ngClass]="{'border-red-700': resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched}"
      >
        <input
          id="password"
          formControlName="password"
          placeholder="Contraseña"
          [type]="isPasswordVisible ? 'text' : 'password'"
          autocomplete="false"
        />
        <button type="button" id="eye_button" (click)="togglePasswordVisibility()">
          <ng-container *ngIf="isPasswordVisible; else eyeOpen">
            <ng-icon name="heroEyeSlash" size="16"></ng-icon>
          </ng-container>
          <ng-template #eyeOpen>
            <ng-icon name="heroEye" size="16"></ng-icon>
          </ng-template>
        </button>
      </div>

      <small
        class="text-body"
        *ngIf="!resetPasswordForm.get('password')?.errors?.['required']"
        [ngClass]="{'text-red-700': resetPasswordForm.get('password')?.errors?.['pattern'] && resetPasswordForm.get('password')?.touched}"
      >
        Mínimo 8 caracteres, mayúsculas, minúsculas, <br /> números y símbolos
      </small>

      <div class="text-small text-red-700">
        <small
          class="text-small"
          *ngIf="resetPasswordForm.get('password')?.errors?.['required'] && resetPasswordForm.get('password')?.touched"
        >
          Ingresa tu nueva contraseña para continuar.
        </small>
      </div>
    </div>

    <button
      id="request_button"
      [disabled]="resetPasswordForm.invalid"
    >
      Solicitar Reinicio de Contraseña
    </button>
  </form>
</div>

<div class="justify-centered p-16" *ngIf="isTokenExpired">
  <p class="text-title-2 mb-16">
    Tu enlace de recuperación ha expirado
  </p>

  <p class="text-large mb-16">
    Parece que han pasado mas de 48 horas desde que se envió este enlace. Si sigues teniendo problemas con tu contraseña,
    solicita otro enlace de recuperación.
  </p>

  <a class="back-home-button" routerLink="/">
    Regresar al inicio</a
  >
</div>

<div class="general__error justify-centered p-16" *ngIf="restError">
  <p class="text-title-2 mb-16">
    Ha habido un problema con este enlace
  </p>

  <p class="text-large mb-16">
    Por favor, verifica el enlace que recibiste e inténtalo nuevamente. Si el problema persiste, ponte en contacto con
    nosotros.
  </p>

  <ul class="text-uppercase text-title-3 mb-16">
    <li>
      <a href="tel:+525513151498" class="text-gray-green-700">
        CDMX <span class="text-primary-500">(55) 1315 1498</span>
      </a>
    </li>
    <li>
      <a href="tel:+523347701170" class="text-gray-green-700">
        GDL <span class="text-primary-500">(33) 4770 1170</span>
      </a>
    </li>
    <li>
      <a href="mailto:ventas@proquifa.com.mx" class="text-primary-500">ventas&#64;proquifa.com.mx</a>
    </li>
  </ul>

  <a class="back-home-button" routerLink="/">
    Regresar al inicio
  </a>
</div>

<div class="justify-centered p-16" *ngIf="isPasswordChangeSuccess">
  <p class="text-title-2 mb-16">
    Se ha actualizado tu contraseña
  </p>

  <p class="text-large mb-16">
    Ya puedes acceder a tu cuenta con tu nueva contraseña.
  </p>

  <a class="back-home-button" routerLink="/">
    Regresar al inicio
  </a>
</div>
