.login-card {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9;
  &__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 16px;
  }

  &__background {
    background-color: var(--bg-overlay);
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__container {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 32px;
    position: absolute;
    right: 0;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 44px;
    max-width: 100%;

    &__hero {
      height: 40px;
      width: 183.33px;
    }
    &__body {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
    &__error {
      &__frame {
        color: var(--red-700);
        border: 1px solid var(--red-700);
        border-radius: 6px;
        padding: 1rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .login-card {
    &__container {
      width: 25%;
    }
  }
}
