.shopping-cart-page {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  padding: 16px;
  row-gap: 1rem;
  &__empty {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    .image-container {
      background-color: var(--primary-100);
      border-radius: 100px;
      margin: 0 auto;
      padding: 1rem;
      width: fit-content;
    }
    &__categories {
      column-gap: 1rem;
      display: grid;
      margin-top: 16px;
      row-gap: 1rem;
      @media (min-width: 1024px) {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }
    }
    h3,
    span {
      display: block;
      text-align: center;
    }
  }
  &__content {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    &__total {
      .actions {
        background-color: var(--neutral-100);
        padding: 1rem;
        &__subtotal {
          align-items: center;
          display: grid;
          grid-template-columns: auto 1fr;
          margin: 1rem 0;
          :nth-child(2) {
            text-align: right;
          }
        }
        button {
          background-color: var(--primary-500);
          border-radius: 2px;
          border: 0;
          width: 100%;
        }
      }
    }
    &__list {
      .quote-items,
      .deleted-items {
        display: grid;
        margin-bottom: 1rem;
        row-gap: 1rem;
      }
    }
    &__related {
      margin-top: 1rem;
    }
  }
  @media (max-width: 768px) {
    &__content {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }
}
