<div class="forgot__password justify-centered" *ngIf="!isPasswordResetted">
  <p class="text-title-2">
    RECUPERA EL ACCESO <br />
    A TU CUENTA
  </p>
  <p class="text-subtle">
    Ingresa el correo asociado a tu cuenta <br /> para restablecer tu contraseña.
  </p>

  <form
    class="forgot__password__form form-group mb-32"
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-control">
      <div class="text-body-medium text-gray-green-900 form-control__input">
        <input
          id="email"
          formControlName="email"
          type="text"
          placeholder="Correo electrónico"
        />
      </div>

      <div
        class="text-small text-red-700"
        *ngIf="
          forgotPasswordForm.get('email')?.invalid &&
          (forgotPasswordForm.get('email')?.touched || forgotPasswordForm.dirty)
        "
      >
        <small class="text-small" *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">
          El formato de correo electrónico es incorrecto
        </small>
        <small class="text-small" *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">
          El correo electrónico es requerido
        </small>
      </div>
    </div>

    <button [disabled]="forgotPasswordForm.invalid">Restablecer Contraseña</button>
  </form>

  <a class="text-blue-600 text-body" routerLink>Cancelar y Regresar</a>
</div>

<div class="password__resetted justify-centered" *ngIf="isPasswordResetted">
  <p class="text-title-2 mb-16">
    REVISA TU CORREO <br />
    ELECTRÓNICO
  </p>
  <p class="text-subtle mb-16">
    ¡Hemos recibido tu solicitud! Si tu correo electrónico se encuentra asociado a una cuenta, en los próximos minutos
    recibirás un mensaje con las instrucciones para restablecer tu contraseña.
  </p>

  <div class="form-group">
    <a routerLink="" class="form-button">Regresar al inicio</a>
  </div>
</div>
