<div class="terms-and-conditions">
    <div class="content">
        <h3 class="text-title-3">TÉRMINOS Y CONDICIONES</h3>
        <p class="text-paragraph">
            Lorem ipsum dolor sit amet consectetur. Massa nulla sit etiam in malesuada enim. Sit id potenti ac magna ac mi integer tempus ipsum. Id mattis elit vestibulum proin ante arcu molestie morbi. Aliquet quisque nec semper venenatis. Faucibus integer aenean pharetra enim et scelerisque amet. Pretium fringilla libero arcu sagittis dolor laoreet. Diam convallis morbi convallis orci hac. Turpis tellus maecenas porttitor gravida. Pellentesque non purus ullamcorper viverra laoreet. Praesent rhoncus donec tempus aliquam in nulla. Laoreet malesuada risus egestas commodo sed velit id sed id. Pharetra bibendum egestas ornare massa cursus nunc lorem fermentum non. Blandit nisi nunc volutpat eu lectus purus adipiscing. At volutpat volutpat volutpat arcu ornare.
        </p>
        <p class="text-paragraph">
            Arcu in praesent euismod sodales. Arcu ac nam eu vivamus faucibus nunc arcu sed. Malesuada vitae volutpat tortor in. Ut aliquet sit dignissim morbi justo ridiculus interdum. Faucibus feugiat sit dolor ornare. In nam gravida amet felis. Amet auctor ultricies sagittis sem condimentum. Massa lacus sed a nisl sit aliquet. Tempor enim gravida nunc laoreet lacus. Gravida fusce elit quam ut tortor.
        </p>
        <p class="text-paragraph">
            Et at consequat consequat arcu morbi in. Iaculis eget aliquam mattis ultrices. Morbi maecenas lacus eget volutpat ac porttitor natoque lacus euismod. Pulvinar adipiscing elit nibh eget in scelerisque. Quisque fusce tempor leo ac. Pellentesque odio pretium sit eu quis sit. Elementum pharetra dis volutpat amet rhoncus in in duis. Vulputate urna elementum vulputate molestie amet montes sodales. Ut sit quam adipiscing est habitasse vulputate tempus. Massa ipsum tellus aliquet et. Risus et sed vel facilisis ut vestibulum nunc. A quis nunc diam lectus. Sit nisi non felis blandit vel id.
        </p>
        <p class="text-paragraph">
            Ornare suspendisse faucibus odio ut quis aliquam viverra. Id odio venenatis ut pellentesque dignissim placerat amet. Lacus vitae egestas eu sem pellentesque. Est et bibendum id lorem accumsan justo. Tincidunt mi amet imperdiet turpis eget iaculis nec. In et lectus elit gravida elementum semper eu fermentum.
        </p>
    </div>
</div>