.order-quote-card {

  &__header {
    align-items: center;
    background-color: var(--neutral-100);
    border-radius: 2px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    padding: 1rem;

    span {
      display: block;
    }

    .icon {
      text-align: right;
    }

    &.opened {
      background-color: var(--primary-100);
      .icon {
        color: var(--primary-500);
      }
    }
  }

  &__content {
    background-color: var(--neutral-100);
    padding: 0.5rem;
    
    .content {
      display: grid;
      row-gap: 0.5rem;
    }
    
    .loader {
      text-align: center;
    }
  }

}
