<org-categories-bar></org-categories-bar>
<div class="products-page">

  <div class="products-page__auth__banner" *ngIf="!isLogged">
    <atm-auth-banner />
  </div>

  <h1 class="text-title-1 text-gray-green-900 m-0">Resultados</h1>

  <div class="products-page__list">
    <div class="products-page__list__header">
      <div class="text-header">
        <span *ngIf="isLoading" class="text-gray-green-900">
          <atm-loader-points message="Cargando resultados"/>
        </span>
        <span class="text-gray-green-900" *ngIf="!isLoading && productPage && productPage.totalResults > 0">
          {{ showCurrentPaginationDetails }}
        </span>
      </div>

      <button
        class="text-header"
        type="button"
        (click)="toggleSortDirection()"
        [disabled]="isLoading"
      >
        <span class="text-gray-green-900">Ordenar:</span>
        <span class="text-bold sort text-gray-green-900" *ngIf="sortDirection === 'ASC'">
          A-Z
          <ng-icon class="icon" name="heroChevronUp" size="24" strokeWidth="2"/>
        </span>
        <span class="text-bold sort text-gray-green-900" *ngIf="sortDirection === 'DESC'">
          Z-A <ng-icon class="icon" name="heroChevronDown" size="24" strokeWidth="2"/>
        </span>
      </button>
    </div>

    <div
      class="empty-state"
      *ngIf="!isLoading && productPage && productPage.totalResults === 0"
    >
      <img src="assets/icons/search-loop.svg" alt="search loop">
      <h3 class="text-big text-uppercase m-0">Búsqueda sin resultados</h3>
      <span class="text-lead"
        >Parece que no encontramos resultados para tu búsqueda. Intenta con otro
        término o explora nuestras familias de productos.</span
      >

      <div class="products-page__categories">
        <div class="products-page__categories__item">
          <atm-category-card
            *ngFor="let navigationItem of categories"
            [category]="navigationItem"
          />
        </div>
      </div>
    </div>

    <div class="products-page__skeleton-grid mb-16" *ngIf="isLoading">
      <atm-skeleton-product-card *ngFor="let item of skeletonList" />
    </div>

    <org-products-grid
      *ngIf="productPage && !isLoading"
      [products]="productPage"
      gridSectionClass="products-result"
    />

    <org-pager
      *ngIf="!isLoading && productPage && productPage.totalResults > 0"
      [totalResults]="productPage.totalResults"
      [pageSize]="pageSize"
    />
  </div>
</div>
