<div class="product-details">
    <h3 class="text-title-5">Detalles del Producto</h3>
    <div class="product-details__section">
        <div class="product-details__detail">
            <span class="text-paragraph">Marca</span>
            <p class="text-paragraph-2 m-0">{{ product?.brand }}</p>
        </div>
    </div>
    <div class="product-details__section">
        <div class="product-details__detail">
            <span class="text-paragraph">Presentación</span>
            <p class="text-paragraph-2 m-0"> {{ product?.presentation }} </p>
        </div>
        <div class="product-details__detail">
            <span class="text-paragraph">Pureza</span>
            <p class="text-paragraph-2 m-0"> {{ product?.purity }} </p>
        </div>
    </div>
    <div class="product-details__section">
        <div class="product-details__detail">
            <span class="text-paragraph">Manejo de transporte</span>
            <p class="text-paragraph-2 m-0"> {{ product?.transportation }} </p>
        </div>
        <div class="product-details__detail">
            <span class="text-paragraph">Manejo de almacén</span>
            <p class="text-paragraph-2 m-0"> {{ product?.storing }} </p>
        </div>
    </div>
</div>