.product-details {
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
  &__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__manejo {
    display: grid;
    row-gap: 12px;
    @media (min-width: 1050px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__detail {
    &.empty {
      opacity: 0.2;
    }
  }
}
