<div class="product-details">
  <h4 class="text-title-4 m-0 title">Detalles del Producto</h4>
  <div class="product-details__section">
    <div
      class="product-details__detail"
      [ngClass]="{ empty: !product?.brandName }"
    >
      <span class="text-small-regular text-gray-green-900">Marca</span>
      <p class="text-body-medium text-gray-green-900 m-0">
        <span *ngIf="product?.brandName; then brandName; else empty"></span>
        <ng-template #brandName> {{ product?.brandName }} </ng-template>
        <ng-template #empty>-</ng-template>
      </p>
    </div>
  </div>
  <div class="product-details__section">
    <div class="product-details__detail">
      <span class="text-small-regular text-gray-green-900">Presentación</span>
      <p class="text-body-medium text-gray-green-900 m-0">
        {{ product?.presentationType }} {{ product?.presentation
        }}{{ product?.unit }}
      </p>
    </div>
    <div
      class="product-details__detail"
      [ngClass]="{ empty: !product?.purity }"
    >
      <span class="text-small-regular text-gray-green-900">Pureza</span>
      <p class="text-body-medium text-gray-green-900 m-0">
        <span *ngIf="product?.purity; then purity; else empty"></span>
        <ng-template #purity> {{ product?.purity }} </ng-template>
        <ng-template #empty>-</ng-template>
      </p>
    </div>
  </div>
  <div class="product-details__manejo">
    <div
      class="product-details__detail"
      [ngClass]="{ empty: !product?.transportHandling }"
    >
      <span class="text-small-regular text-gray-green-900"
        >Manejo de transporte</span
      >
      <p class="text-body-medium text-gray-green-900 m-0">
        <span
          *ngIf="product?.transportHandling; then transportHandling; else empty"
        ></span>
        <ng-template #transportHandling>
          {{ product?.transportHandling }}
        </ng-template>
        <ng-template #empty>-</ng-template>
      </p>
    </div>
    <div
      class="product-details__detail"
      [ngClass]="{ empty: !product?.storageHandling }"
    >
      <span class="text-small-regular text-gray-green-900"
        >Manejo de almacén</span
      >
      <p class="text-body-medium text-gray-green-900 m-0">
        <span
          *ngIf="product?.storageHandling; then storageHandling; else empty"
        ></span>
        <ng-template #storageHandling>
          {{ product?.storageHandling }}
        </ng-template>
        <ng-template #empty>-</ng-template>
      </p>
    </div>
  </div>
</div>
