.org-mobile-navigation-menu {
  display: grid;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  padding: 16px;
  background-color: var(--white);

  button {
    border: none;
    background-color: transparent;
  }

  &__header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 32px 0px;

    &--logo {
      justify-self: start;
    }

    &--icon {
      justify-self: end;
    }
  }

  &__content {
    margin: 16px 0px;

    p {
      color: var(--gray-green-900);
    }

    &.account {
      margin: 0;
      hr {
        margin: 0;
      }

      .title {
        padding-top: 16px;
        padding-bottom: 8px;
      }

      p {
        color: var(--gray-green-900);
      }

      .account-item {
        width: 100%;
        padding: 8px 0px;
        display: flex;
        gap: 16px;
        align-items: center;
        .--icon {
          width: 44px;
          height: 44px;
          transform: rotate(90deg);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

    }

    .item::ng-deep {
      &.atm-category-card {
        padding-left: 0px;
      }
    }
  }
}
