.order-element-card {
  border-radius: 2px;
  border: solid 1px var(--neutral-400);
  display: grid;
  padding: 0.5rem;
  grid-template-areas: "folio status"
                        "folio products"
                        "dates total"
  ;

  .folio {
    grid-area: folio;
  }
  .status {
    grid-area: status;
    height: 14px;
    text-align: right;
  }
  .products {
    grid-area: products;
    text-align: right;
  }
  .creation-date {
    grid-area: creation;
  }
  .dates {
    align-self: end;
    display: flex;
    gap: 16px;
    grid-area: dates;
    .creation-date,
    .expiration-date {
      display: flex;
      flex-direction: column;
    }
  }
  .total {
    grid-area: total;
    text-align: right;
    span {
      display: block;
    }
    p {
      font-family: "Stellar";
    }

  }


  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 29% 29% 42%;
    row-gap: 4px;
    grid-template-areas:
      "status dates products"
      "folio dates total";
    .status {
      text-align: left;
    }
    .dates {
      align-self: flex-end;
    }
  }

}
