.privacy-policy {
  padding: 16px 0px;
  max-width: 860px;
  margin: 0 auto;

  &__wrapper {
    padding: 16px;
    display: grid;
    row-gap: 16px;
  }

  &__header {
    h1 {
      color: var(--gray-green-800);
      font-family: "Stellar";
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      letter-spacing: 1%;
      margin: 0px;
      text-transform: uppercase;
    }

    span {
      font-family: "Work Sans";
      font-size: 14px;
      line-height: 20px;
    }

    strong {
      font-weight: 700;
    }
  }

  &__content {
    display: grid;
    row-gap: 16px;

    &__item {
      h4 {
        font-family: "Work Sans";
        color: var(--primary-500);
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        margin: 0px 0px 16px 0px;
      }

      p {
        font-family: "Work Sans";
        color: var(--gray-green-800);
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }

      strong {
        font-weight: 700;
      }

      ul {
        margin: 0px;
        padding: 0px 0px 0px 30px;

        &.extra-spacing {
          padding: 0px 0px 0px 45px;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    padding: 32px 0px;

    &__header {
      h1 {
        font-size: 36px;
        line-height: 40px;
        margin: 0px;
      }
    }
  }
}
