.order-item-card {
  border: 1px solid var(--neutral-400);
  border-radius: 2px;

  &__details {
    padding: 0.5rem;
  }

  &__status {
    background-color: var(--neutral-100);
    display: grid;
    grid-template-columns: auto 1fr;

    div {
      padding: 0.5rem;
    }

    .toggler {
      cursor: pointer;
      text-align: right;
      .icon {
        vertical-align: bottom;
      }
    }
  }
  &__tracking {
    display: none;
    padding: 0.5rem;
  }
}
