<div class="order-item-card">

  <div class="order-item-card__details">
    <div>cas {{ orderItem.cas}}</div>
    <div>cat {{ orderItem.catalog}}</div>
  </div>

  <div class="order-item-card__status">
    <div>
      Status
    </div>
    <div class="toggler text-title-5" (click)="toggleOpen()">
      Seguimiento del pedido
      <ng-icon name="heroChevronUp" size="20" color="#2B7777" class="icon" *ngIf="isOpen"/>
      <ng-icon name="heroChevronDown" size="20" color="#2B7777" class="icon" *ngIf="!isOpen"/>
    </div>
  </div>

  <div class="order-item-card__tracking" *ngIf="isOpen">
    list
  </div>

</div>