<div class="shopping-cart-page">

  <div class="shopping-cart-page__loader" *ngIf="(isLoading$ | async) && (shoppingCart$ | async) === null && deletedProducts.length === 0">
    <atm-loader-points />
  </div>

  <div *ngIf="deletedProducts.length > 0 || ((shoppingCart$ | async)?.listQuotationItem?.length || 0) > 0">

    <div class="breadcrumbs">
      <a routerLink="/">
        <ng-icon name="heroArrowLeft" size="16" />
        Volver al Catálogo
      </a>
    </div>

    <div class="shopping-cart-page__content">

      <div class="shopping-cart-page__content__list">
        <h1 class="text-big text-primary-500 text-uppercase">Carrito</h1>

        <div class="deleted-items" *ngIf="deletedProducts.length > 0">
          <org-shopping-cart-item-deleted-card
            *ngFor="let item of deletedProducts"
            [product]="item"
            (addedToCarEmitter)="reAddedToCar($event)"
          />
        </div>

        <div class="quote-items" *ngIf="shoppingCart$ | async">
          <org-shopping-cart-item-card
              *ngFor="let item of (shoppingCart$ | async)?.listQuotationItem"
              [product]="item"
              (productDeletedEmitter)="addToRemovedProducts($event)"
              (relatedProductSelectedEmitter)="loadRelated($event)"/>
        </div>
      </div>

      <div class="shopping-cart-page__content__total">

        <div class="actions text-paragraph">
          El subtotal no incluye envío e impuestos. Estos se calcularán en el siguiente paso.
          <div class="actions__subtotal">
            <div class="text-paragraph">Subtotal:</div>
            <div class="text-title-3 text-primary-500">{{((shoppingCart$ | async)?.quotationDetails?.subtotal || 0) | usdCurrency}}</div>
          </div>

          <button
              class="btn text-large text-gray-green-50"
              (click)="submitQuote()"
              [disabled]="(isLoading$ | async) || (((shoppingCart$ | async)?.listQuotationItem?.length || 0) === 0)">
            <span *ngIf="(isLoading$ | async) !== true">Cotizar {{ (shoppingCart$ | async)?.listQuotationItem?.length || 0 }} Partidas</span>
            <span *ngIf="isLoading$ | async"><atm-loader-circle message="Cargando"/></span>
          </button>
        </div>

        <div class="shopping-cart-page__content__related" *ngIf="relatedProductsId">
          <org-related-products [productId]="relatedProductsId"></org-related-products>
        </div>
      </div>

    </div>
  </div>

  <div class="shopping-cart-page__empty" *ngIf="(isLoading$ | async) !== true && ( ((shoppingCart$ | async)?.listQuotationItem?.length || 0) === 0) && deletedProducts.length === 0">
    <div class="image-container"><img src="assets/icons/box.svg" alt="empty box"></div>
    <h3 class="text-title-3">Tu carrito se encuentra vacío</h3>
    <span class="text-paragraph">Descubre nuestra amplia selección y encuentra justo lo que buscas.</span>

    <div class="shopping-cart-page__empty__categories">
      <atm-category-card
        *ngFor="let category of categories$ | async"
        [category]="category"
      ></atm-category-card>
    </div>
  </div>

</div>
