<div class="user-menu text-body-medium only-web" *ngIf="user">

  <button type="button" class="user-menu__name btn" (click)="toggleShowMenu()">
    <ng-icon class="icon" name="heroUser" size="24"></ng-icon>
    <span *ngIf="user">Hola, {{ user.firstNameUser }}</span>
  </button>

  <div class="user-menu__opts" *ngIf="isMenuOpened">
    <button type="button" class="btn" (click)="goToQuotes()">Ver Cotizaciones</button>
    <button type="button" class="btn logout-btn" (click)="logout()">Cerrar Sesión</button>
  </div>

</div>