<aside class="order-summary-card">
  <div class="order-summary-card__customer">
    <div class="order-summary-card__customer__toggle">
      <span>Detalles de cliente y notas.</span>
      <button class="only-mobile" (click)="showHideCustomerInfo()">
        <ng-icon name="heroChevronDown" size="16" color="#2B7777" />
      </button>
    </div>

    <div
      class="order-summary-card__customer__info"
      *ngIf="isShowingCustomerInfo">
      <org-quote-user-info [address]="purchaseOrder.address" />
    </div>
  </div>

  <div class="order-summary-card__download-file">
    <span class="text-small-regular text-gray-green-900">Orden de Compra</span>
    <mol-file-downloader
      [fileName]="
        'oc_' +
        purchaseOrder.folio +
        '_' +
        (purchaseOrder.registrationDate | date: 'dd-MM-yyyy')
      "
      [fileId]="purchaseOrder.idPurchaseOrderFile" />
  </div>

  <div class="order-summary-card__invoice">
    <h4>Facturación</h4>
    <div class="invoice-item">
      <span>RFC</span>
      <p>{{ user?.taxId || '-' }}</p>
    </div>
    <div class="invoice-item">
      <span>Razón Social</span>
      <p>{{ user?.nameQustomer || '-' }}</p>
    </div>
    <div class="invoice-item">
      <span>Dirección Fiscal</span>
      <p>{{ purchaseOrder.address || '-' }}</p>
    </div>
  </div>

  <div class="order-summary-card__download-file">
    <span class="text-small-regular text-gray-green-900"
      >Comprobante de Venta Digital</span
    >

    <!-- // TODO: REVISAR SI ES CORRECTO QUE USE LOS MISMOS VALORES QUE LA ORDEN DE COMPRA-->
    <mol-file-downloader
      [fileName]="
        'vd_' +
        purchaseOrder.folio +
        '_' +
        (purchaseOrder.registrationDate | date: 'dd-MM-yyyy')
      "
      [fileId]="purchaseOrder?.idOCFilePDF || ''" />
  </div>

  <hr />

  <org-order-totals [order]="purchaseOrder" />
</aside>
