<div class="category-card">
    <div class="category-card__img">
        <img [src]=" category?.iconPath || 'assets/icons/reactive.svg'" alt="">
    </div>
    <div class="category-card__details">
        <p class="category-card__details__title text-title-3 text-neutral-900">{{ category?.label }}</p>
        <p class="category-card__details__description text-body text-neutral-900">{{category?.description}}</p>
    </div>
    <a [routerLink]="['/products']" [queryParams]="{ category: category?.label }" class="text-body text-blue-600 no-decoration">Ver Catálogo</a>
</div>