<div class="carousel">
  <div class="carousel__items">
    <div *ngFor="let banner of banners; let i = index">
      <mol-carousel-item
        [item]="banner"
        [isActive]="currentImage === i"
        (click)="open(banner)"
      ></mol-carousel-item>
    </div>
  </div>
  <div class="carousel__buttons">
    <atm-carousel-button
      *ngFor="let banner of banners; let i = index"
      [index]="i"
      [isActive]="currentImage === i"
      (indexChangeEmitter)="setImageByIndex($event)"
    >
    </atm-carousel-button>
  </div>
</div>
