<div class="carousel">
    <div class="carousel__items">
        <mol-carousel-item
            *ngFor="let banner of banners, let i = index"
            [item]="banner"
            [isActive]="currentImage === i"
        >
        </mol-carousel-item>
    </div>
    <div class="carousel__buttons">
        <atm-carousel-button
            *ngFor="let banner of banners, let i = index"
            [index]="i"
            [isActive]="currentImage === i"
            (indexChangeEmitter)="setImageByIndex($event)"
        >
        </atm-carousel-button>
    </div>
</div>