.atm-category-card {
  align-items: center;
  column-gap: 16px;
  display: grid;
  grid-template-columns: 44px 1fr;
  padding: 16px;
  text-decoration: none;
  width: 343.5px;

  &__icon {
    align-items: center;
    background-color: var(--gray-green-100);
    border-radius: 8px;
    display: grid;
    height: 44px;
    justify-content: center;
    width: 44px;
    img {
      width: 25px;
      height: 25px;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}
