<div class="address-selector text-body-medium">

  <div class="address-selector__selected" (click)="toggleShowAddresses()">
    <div class="selection">
      <span *ngIf="isAddressSelectionValid">
        {{user?.aliasCustumer}}
      </span>
      {{ selectionLabel }}
    </div>
    <div><ng-icon class="icon" name="heroChevronUp" size="20"></ng-icon></div>
  </div>

  <div class="address-selector__wrapper">
    <div class="address-selector__options" *ngIf="showAddresses">
      <button class="option btn" *ngFor="let address of addresses" (click)="selectOption(address)">
        <div class="option-item">
          <span class="text-small-regular text-gray-green-900 customer">{{user?.aliasCustumer}}</span>
          <span class="text-body-medium text-gray-green-900 address">{{address.address}}</span>
        </div>
      </button>

      <button class="option other btn" (click)="selectOther()" *ngIf="!otherAddressDisabled">
        <span>Solicitar entrega en otra dirección</span>
      </button>

    </div>
  </div>

</div>
