<div class="address-selector text-body-medium">

  <div class="address-selector__selected" (click)="toggleShowAddresses()">
    <div>{{ selectionLabel }}</div>
    <div><ng-icon class="icon" name="heroChevronUp" size="20"></ng-icon></div>
  </div>

  <div class="address-selector__wrapper">
    <div class="address-selector__options" *ngIf="showAddresses">

      <button class="option btn" *ngFor="let address of addresses" (click)="selectOption(address)">
        <span>{{address.address}}</span>
      </button>

      <button class="option other btn" (click)="selectOther()">
        <span>Solicitar entrega en otra dirección</span>
      </button>

    </div>
  </div>

</div>