.quantity-selector {
  display: flex;
  border: solid 1px var(--gray-400);
  border-radius: 2px;
  width: fit-content;
  span,
  button {
    display: inline-block;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    max-width: 50px;
    padding: 4px 8px;
    margin: 0px;
    -moz-appearance: textfield;
    border: none;
    text-align: center;
    border-left: 1px solid var(--gray-400);
    border-right: 1px solid var(--gray-400);
    &:focus {
      outline: none;
    }
  }
  button {
    padding: 8px;
    line-height: 0px;
    font-size: 0%;
    border: none
  }
}
