.quote-item-card {
  background-color: white;
  border-radius: 2px;
  border: 1px solid var(--neutral-400);
  display: flex;
  flex-direction: column;
  font-family: var(--font-secondary);
  gap: 8px;
  padding: 8px;
  width: 100%;
  &__header {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    .column-two {
      align-items: center;
      display: grid;
      gap: 4px;
      grid-template-columns: 1fr auto;
      margin-left: 16px;
      &__cas__cat {
        display: grid;
        gap: 4px;
        grid-template-columns: 1fr 1fr;
      }
      &__item {
        display: flex;
        flex-direction: column;
        span {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
        strong {
          font-size: 16px;
          font-weight: 650;
          line-height: 24px;
        }
      }
    }
  }
  &__description {
    span {
      font-size: 12px;
      font-weight: 650;
      line-height: 16px;
    } p {
      font-size: 14px;
      line-height: 20px;
    }

  }
  &__price {
    display: grid;
    gap: 4px;
    grid-template-columns: auto 1fr;
    .unit-price-item,
    .quantity-item,
    .amount-item,
    .measure-item {
      display: flex;
      flex-direction: column;
      span {
        color: var(--gray-green-500);
        font-size: 12px;
        line-height: 16px;
      }
      strong {
        color: var(--primary-900);
        font-family: var(--font-primary);
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
      }
    }
    .unit-price-item {
      place-items: end;
    }
    .quantity-item {
      strong {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .amount-item {
      place-items: end;
      h3 {
        color: var(--primary-500);
        font-family: var(--font-primary);
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 24px;
        margin: 0px;
      }
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    span#shipping {
      font-size: 14px;
      line-height: 20px;
      font-style: italic;
      color: var(--gray-green-900);
    }
    .express-tag {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 0px;
      span {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .quote-item-card {
    &__header {
      grid-template-columns: auto 1fr auto;
    }
    &__description {
      span {
        font-size: 14px;
        line-height: 20px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
    &__price {
      grid-template-columns: 1fr auto 1fr 1fr;
      .measure-item {
        order: 2;
      }
      .quantity-item {
        order: 1;
      }
      .unit-price-item {
        order: 3;
      }
      .amount-item {
        order: 4;
        h3 {
          font-size: 24px;
          line-height: 32px;
        }
      }
      .measure-item,
      .quantity-item,
      .unit-price-item {
        strong {
          font-size: 16px;
          line-height: 20px;
        }
      }
      strong {
        margin-top: 6px;
      }
    }
    &__footer {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .express-tag {
        flex-direction: row;
      }
    }
  }
}
