.purchase-order-creation-page {
    margin: 0 auto;
    max-width: 1200px;
    padding: 16px;
    &__content {
        column-gap: 1rem;
        display: grid;
        grid-template-areas:    "address address summary"
                                "quotes  quotes  summary"
                                "filters filters summary"
                                "quote-products order-products summary";
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1rem;
        h5 {
          margin: 0;
          margin-bottom: 1rem;
        }
        &__address {
            grid-area: address;
            span {
                display: block;
                margin-bottom: 0.5rem;
            }
            .selector {
                column-gap: 1rem;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        &__quotes {
            grid-area: quotes;
            .quotes-list-wrapper {
              display: grid;
              grid-template-columns: 1fr auto;
              .paginator {
                align-items: center;
                display: flex;
                gap: 4px;
                justify-content: space-between;
                width: 100%;
                button {
                  background-color: white;
                  border-radius: 2px;
                  border: 1px solid #627470;
                  cursor: pointer;
                  height: 40px;
                  padding: 8px;
                  width: 40px;
                  &:disabled {
                    cursor: default;
                    opacity: 0.2;
                  }
                }
              }

              .quotes {
                .quote {
                    cursor: pointer;
                }
              }
            }
            .quotes {
              display: flex;
              flex-wrap: wrap;
              .quote {
                  background-color: white;
                  border: 0;
                  display: inline-block;
                  font-family: var(--font-secondary);
                  font-size: 14px;
                  line-height: 20px;
                  padding: 6px 8px;
                  padding: 8px;
                  &.selected {
                      background-color: black;
                      border-radius: 4px;
                      color: white;
                  }
              }
            }
            .loader {
                padding-top: 0.5rem;
            }
            .quotes, .loader, .empty-alert {
              align-items: center;
              display: flex;
              min-height: 2.5rem;
            }
            .empty-alert {
              gap: 8px;
            }
        }

        &__filters {
            grid-area: filters;
            .filters {
                column-gap: 1rem;
                display: grid;
                grid-template-columns: 1fr 1fr;
                .tabs {
                    button {
                        border-radius: 4px;
                        border: 0;
                        display: inline-block;
                        margin-right: 4px;

                        &.selected {
                            background-color: var(--neutral-300);
                        }
                    }
                }
                .text-filter {
                    input {
                        width: 100%;
                        padding: 0.5rem 0.75rem;
                    }
                }
            }
        }

        &__quote-products, &__order-products {
            h4 {
                border-bottom: 1px solid var(--neutral-400);
                margin-bottom: 0;
                margin-top: 0.5rem;
            }
            .content {
                background-color: var(--neutral-100);
                border-radius: 2px;
                min-height: 400px;
                padding: 0.5rem;
            }
            .products, .loader {
                display: grid;
                row-gap: 0.5rem;
            }
            .empty-state {
                padding: 4rem 2rem;
                text-align: center;
                span {
                    display: block;
                    margin-top: 1rem;
                }
            }
        }

        &__quote-products {
            grid-area: quote-products;
        }
        &__order-products {
            grid-area: order-products;
        }

        &__summary {
            background-color: var(--neutral-100);
            border-radius: 2px;
            grid-area: summary;

            .content {
                display: grid;
                padding: 0.5rem;
                row-gap: 1rem;

                input {
                    padding: 0.5rem;
                    width: 100%;
                }
                .totals {
                    display: grid;
                    row-gap: 0.5rem;

                    .double-field {
                        column-gap: 0.25rem;
                        grid-template-columns: auto 1fr;
                    }
                }
                .button {
                    background-color: black;
                    border-radius: 2px;
                    border: 0;
                    color: white;
                    min-height: 40px;
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 768px) {
        &__content {
          grid-template-areas:    "address"
                                  "quotes"
                                  "filters"
                                  "quote-products"
                                  "order-products"
                                  "summary";
            grid-template-columns: 1fr;
            &__address {
                .selector {
                    grid-template-columns: 1fr;
                }
            }

            &__quotes {
              max-width: calc(100vw - 2rem);
              .quotes-list-wrapper {
                gap: 4px;
                grid-template-columns: none;
              }
              .quotes {
                .quote {
                  font-size: 12px;
                  line-height: 16px;
                }
              }
            }
            &__filters {
                .filters {
                    grid-template-columns: 1fr;
                    row-gap: 0.5rem;
                }
            }
        }

    }
}
