<div class="help-contact">
    <h1 class="help-contact__title text-primary-500 m-0">Podemos Ayudarte</h1>
    <p class="help-contact__description text-large">Si necesitas más información, contáctanos. Estamos aquí para ofrecerte respuestas rápidas y atención personalizada.</p>
    <div class="help-contact__numbers">
        <p class="help-contact__numbers__one">CDMX <span class="text-primary-500">(55) 1315 1498</span></p>
        <p class="help-contact__numbers__divider">|</p>
        <p class="help-contact__numbers__two">GDL <span class="text-primary-500">(33) 4770 1170</span></p>
    </div>
    <div class="help-contact__certifications">
        <img src="assets/imgs/osi.svg" alt="iso">
        <img src="assets/imgs/oea.svg" alt="oea">
    </div>
</div>