<div *ngIf="(isSignUpRequested$ | async) === false">
  <p class="text-title-2">REGISTRO</p>

  <p class="text-subtle mb-32">
    Regístrate para acceder a nuestros servicios y beneficios exclusivos.
  </p>

  <form
    class="form-group mb-32"
    [formGroup]="signUpForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-control">
      <label
        class="form-control__label text-body-medium text-gray-green-900"
        for="email"
      >
        Email
      </label>

      <div class="text-body-medium text-gray-green-900 form-control__input">
        <input
          id="email"
          formControlName="email"
          type="text"
          placeholder="Email"
        />
      </div>

      <div
        class="text-small text-red-700"
        *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched"
      >
        <small class="text-small" *ngIf="signUpForm.get('email')?.errors?.['email']">
          El formato de correo electrónico es incorrecto
        </small>
        <small class="text-small" *ngIf="signUpForm.get('email')?.errors?.['required']">
          El correo electrónico es requerido
        </small>
      </div>
    </div>

    <div class="form-control">
      <label
        class="form-control__label text-body-medium text-gray-green-900"
        for="company"
      >
        Empresa
      </label>

      <div class="text-body-medium text-gray-green-900 form-control__input">
        <input
          id="company"
          formControlName="company"
          type="text"
          placeholder="Nombre de tu empresa"
        />
      </div>

      <div
        class="text-small text-red-700"
        *ngIf="signUpForm.get('company')?.invalid && signUpForm.get('company')?.touched"
      >
        <small class="text-small" *ngIf="signUpForm.get('company')?.errors?.['required']">
          El nombre de tu empresa es requerido
        </small>
      </div>
    </div>

    <div class="form-control">
      <label
        class="form-control__label text-body-medium text-gray-green-900"
        for="registryType"
      >
        Tipo de registro
      </label>

      <div
        class="text-body-medium text-gray-green-900 form-control__input radio"
      >
        <div>
          <input
            id="isFinalUser"
            formControlName="registryType"
            type="radio"
            placeholder="Usuario final"
            value="isFinalUser"
          />
          <label for="isFinalUser">Usuario final</label>
        </div>
        <div>
          <input
            id="isReseller"
            formControlName="registryType"
            type="radio"
            placeholder="Reseller"
            value="isReseller"
          />
          <label for="isReseller">Reseller</label>
        </div>
      </div>

      <div
        class="text-small text-red-700"
        *ngIf="signUpForm.get('registryType')?.invalid && signUpForm.get('registryType')?.touched"
      >
        <small class="text-small" *ngIf="signUpForm.get('registryType')?.errors?.['required']">
          Tipo de registro es requerido
        </small>
      </div>
    </div>

    <div class="form-control">
      <label
        class="form-control__label text-body-medium text-gray-green-900"
        for="rfc"
        >RFC</label
      >

      <div class="text-body-medium text-gray-green-900 form-control__input">
        <input
          id="rfc"
          formControlName="rfc"
          type="text"
          placeholder="RFC"
        />
      </div>

      <div
        class="text-small text-red-700"
        *ngIf="signUpForm.get('rfc')?.invalid && signUpForm.get('rfc')?.touched"
      >
        <small class="text-small" *ngIf="signUpForm.get('rfc')?.errors?.['required']">
          Tu RFC es requerido
        </small>
      </div>
    </div>

    <div class="form-control">
      <label
        class="form-control__label text-body-medium text-gray-green-900"
        for="name"
        >Nombre</label
      >

      <div class="text-body-medium text-gray-green-900 form-control__input">
        <input
          id="name"
          formControlName="name"
          type="text"
          placeholder="Tu nombre"
        />
      </div>

      <div
        class="text-small text-red-700"
        *ngIf="signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched"
      >
        <small class="text-small" *ngIf="signUpForm.get('name')?.errors?.['required']">
          Tu nombre es requerido
        </small>
      </div>
    </div>

    <div class="form-control">
      <label
        class="form-control__label text-body-medium text-gray-green-900"
        for="lastName"
      >
        Apellido
      </label>

      <div class="text-body-medium text-gray-green-900 form-control__input">
        <input
          id="lastName"
          formControlName="lastName"
          type="text"
          placeholder="Tus apellidos"
        />
      </div>

      <div
        class="text-small text-red-700"
        *ngIf="signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched"
      >
        <small class="text-small" *ngIf="signUpForm.get('lastName')?.errors?.['required']">
          Tus apellidos son requeridos
        </small>
      </div>
      <small class="text-small">Ingresa tu apellido paterno y materno</small>
    </div>

    <div class="form-control">
      <label
        class="form-control__label text-body-medium text-gray-green-900"
        for="phoneNumber"
      >
        Teléfono
      </label>

      <div class="text-body-medium text-gray-green-900 form-control__input">
        <input
          id="phoneNumber"
          formControlName="phoneNumber"
          type="text"
          placeholder="(00) 0000 0000"
        />
      </div>

      <div
        class="text-small text-red-700"
        *ngIf="signUpForm.get('phoneNumber')?.invalid && signUpForm.get('phoneNumber')?.touched"
      >
        <small class="text-small" *ngIf="signUpForm.get('phoneNumber')?.errors?.['required']">
          Tu teléfono es requerido
        </small>
      </div>
      <small class="text-small">10 dígitos, incluyendo LADA</small>
    </div>

    <div class="form-control">
      <label
        class="form-control__label text-body-medium text-gray-green-900"
        for="jobTitle"
      >
        Puesto
      </label>

      <div class="text-body-medium text-gray-green-900 form-control__input">
        <input
          id="jobTitle"
          formControlName="jobTitle"
          type="text"
          placeholder="Tu puesto"
        />
      </div>

      <div
        class="text-small text-red-700"
        *ngIf="signUpForm.get('jobTitle')?.invalid && signUpForm.get('jobTitle')?.touched"
      >
        <small class="text-small" *ngIf="signUpForm.get('jobTitle')?.errors?.['required']"
          >Tu puesto es requerido</small
        >
      </div>
    </div>

    <div class="form-control">
      <label
        class="form-control__label text-body-medium text-gray-green-900"
        for="password"
        >Contraseña</label
      >
      <div class="text-body-medium text-gray-green-900 form-control__input">
        <input
          id="password"
          formControlName="password"
          [type]="isPasswordVisible ? 'text' : 'password'"
          placeholder="********"
          autocomplete="false"
        />
        <button (click)="togglePasswordVisibility()" type="button">
            <ng-icon *ngIf="isPasswordVisible" name="heroEye" size="16"></ng-icon>
            <ng-icon *ngIf="!isPasswordVisible" name="heroEyeSlash" size="16"></ng-icon>
        </button>
      </div>

      <small class="text-small"
        >Mínimo 8 caracteres, mayúsculas, minúsculas, números y símbolos</small
      >

      <div
        class="text-small text-red-700"
        *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched"
      >
        <small class="text-small" *ngIf="signUpForm.get('password')?.errors?.['required']">
          La contraseña es requerida
        </small>
        <small class="text-small" *ngIf="signUpForm.get('password')?.errors?.['minlength']">
          La contraseña debe tener al menos 8 caracteres
        </small>
      </div>
    </div>

    <div class="sign-up__terms-and-conditions">
      <p class="text-small text-gray-green-900">
        Al hacer clic en "Registrarme", usted acepta los
        <a class="text-blue-600" routerLink="/terms-and-conditions" target="_blank">Términos y Condiciones</a>
        de uso de nuestro servicio. <br />
        Por favor, lea detenidamente nuestra política de privacidad y términos
        de servicio antes de proceder con el registro.
      </p>

      <div class="sign-up__terms-and-conditions__accept">
        <input
          type="checkbox"
          formControlName="accept"
          id="accept"
        />
        <label class="text-body text-gray-green-900" for="accept">
          Acepto los Términos y Condiciones
        </label>
      </div>

      <div
        class="text-small text-red-700"
        *ngIf="signUpForm.get('accept')?.invalid && signUpForm.get('accept')?.touched"
      >
        <small class="text-small" *ngIf="signUpForm.get('accept')?.errors?.['required']">
          Debes aceptar los Términos y Condiciones
        </small>
      </div>
    </div>

    <div class="error-alert text-body" *ngIf="(isServerError$ | async) === true">
      <p class="text-title-5">Error al enviar el formulario</p>
      {{(errorMessage$ | async)}}
    </div>

    <button [disabled]="signUpForm.invalid">Registrarme</button>
  </form>

  <a class="text-blue-600 text-body" href="#" (click)="goBack($event)">Cancelar y Regresar</a>
</div>

<div class="justify-centered" *ngIf="(isSignUpRequested$ | async) === true && (isSignUpReviewPending$ | async) !== true">
  <p class="text-title-2 mb-16">TU REGISTRO ESTÁ CASI COMPLETO</p>

  <p class="text-paragraph mb-16">Sigue estos pasos para finalizar</p>

  <p class="text-paragraph mb-32">
    Hemos recibido tu solicitud de registro exitosamente. Para activar tu
    cuenta, sigue las siguientes instrucciones:
  </p>

  <ol>
    <li class="text-paragraph mb-16">
      Revisa la bandeja de entrada del correo que proporcionaste.
    </li>
    <li class="text-paragraph mb-16">
      Encontrarás un mensaje de PROQUIFA con un enlace de verificación.
    </li>
    <li class="text-paragraph mb-16">
      Haz clic en el enlace para validar tu dirección de correo electrónico.
    </li>
    <li class="text-paragraph mb-16">
      ¡Listo! Podrás acceder a nuestra plataforma con todos los beneficios.
    </li>
  </ol>

  <a routerLink="/" class="form-button">Regresar al inicio</a>
</div>

<div class="sign-up__in-review justify-centered " *ngIf="(isSignUpRequested$ | async) === true && (isSignUpReviewPending$ | async) === true">
  <p class="text-title-2 mb-16">TU REGISTRO ESTÁ EN REVISIÓN</p>

  <p class="text-paragraph mb-16">
    Gracias por iniciar tu registro en nuestra plataforma. Estamos revisando tu
    solicitud y la información proporcionada.
  </p>

  <p class="text-paragraph mb-32">
    Un Asesor Comercial de PROQUIFA se pondrá en contacto contigo en las
    próximas 24 horas para:
  </p>

  <ul>
    <li class="text-paragraph">
      Verificar los datos de tu empresa/negocio.
    </li>
    <li class="text-paragraph">
      Brindarte asesoría sobre nuestros productos y servicios.
    </li>
    <li class="text-paragraph">
      Finalizar tu registro y activar tu acceso a la plataforma.
    </li>
  </ul>

  <p class="text-paragraph mb-32">
    Nota: Si no recibes noticias nuestras en el plazo indicado, no dudes en
    contactarnos:
  </p>

  <ul>
    <li class="text-paragraph text-bold">
      <a class="text-blue-600 text-600" href="tel:+525513151498">(55) 1315 1498</a>
      <span> CDMX</span>
    </li>
    <li class="text-paragraph text-bold">
      <a class="text-blue-600 text-600" href="tel:+523347701170">(33) 4770 1170</a>
      <span> GDL</span>
    </li>
  </ul>

  <a routerLink="/" class="form-button">Regresar al inicio</a>
</div>
