<div class="justify-centered">
  <div *ngIf="state === 'loading'">
    <atm-loader message="Cargando" />
  </div>

  <div *ngIf="state === 'successfull'">
    <p class="text-title-2 mb-16">TU REGISTRO HA SIDO EXITOSO</p>

    <p class="text-paragraph mb-16">
      Ya puedes acceder a todos los beneficios de la plataforma
    </p>

    <a class="form-button" routerLink="/">Regresar al inicio</a>
  </div>

  <div *ngIf="state === 'error'">
    <p class="text-paragraph mb-16">Error al verificar el usuario</p>

    <a class="form-button" routerLink="/">Regresar al inicio</a>
  </div>
</div>
