<div class="purchase-order-created-page container">

  <div class="purchase-order-created-page__loader" *ngIf="!order">
    <atm-loader-points />
  </div>

  <div *ngIf="order">
    <div class="purchase-order-created-page__content">

      <div class="purchase-order-created-page__content__header">
        <h1 class="text-big text-primary-500">Tu pedido está en proceso</h1>
        <p class="text-paragraph">Dentro de las próximas 24 horas recibirás una confirmación.  ¡Gracias por tu paciencia!</p>
        <button [routerLink]="['/orders/in-progress', order.idPurchaseOrder]" class="btn text-body-medium" type="button">Ver Pedido</button>
      </div>

      <div class="purchase-order-created-page__content__summary">
        <div class="creation-info">
          <div>
            <span class="text-small text-gray-green-500">Folio</span>
            <span class="folio-blue">{{order.folio}}</span>
          </div>

          <div>
            <span class="text-small text-gray-green-500">Creación:</span>
            <span class="text-small">{{order.registrationDate | date: 'dd/MM/yyyy'}}</span>
          </div>

          <div class="products" *ngIf="order.itemCount">
            <span class="text-small text-600 text-gray-green-900">{{order.itemCount}} partidas</span>
          </div>
        </div>

        <org-order-totals [order]="order"/>

        <div class="customer-info">
          <h4>Información del cliente</h4>
          <org-quote-user-info [address]="order.address"/>
        </div>
      </div>
    </div>
  </div>

</div>
