<div class="justify-centered" *ngIf="!isTokenExpired">
    <p class="text-title-2">
        Reinica tu <br/>
        Contraseña
    </p>
    <p class="text-subtle">Te recomendamos usar una contraseña única que no utilices en otros sitios web.</p>

    <form class="form-group mb-32" #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(resetPasswordForm)">

        <div class="form-control">
            <label for="password" class="form-control__label text-body-medium text-gray-green-900">Nueva contraseña</label>
            <div class="text-body-medium text-gray-green-900 form-control__input">
                <input id="password" name="password" placeholder="Contraseña" [type]="isPasswordVisible ? 'text': 'password'" autocomplete="false" required ngModel #passwordInput="ngModel">
                <button type="button" (click)="togglePasswordVisibility()">
                    @if (isPasswordVisible) {
                        <ng-icon  name="heroEyeSlash" size="16"></ng-icon>
                    } @else {
                        <ng-icon  name="heroEye" size="16"></ng-icon>
                    }
                </button>
            </div>
            <div class="text-small text-red-700" *ngIf="(resetPasswordForm.submitted || passwordInput.dirty) && passwordInput.invalid">
                <small class="text-small" *ngIf="passwordInput.errors?.['required']">La contraseña es requerida</small>
            </div>
            <small class="text-body text-red-700" *ngIf="restError">
                Esta contraseña ha sido utilizada anteriormente. <br/>
                Intenta con una contraseña diferente.
            </small>
        </div>

        <button>Solicitar Reinicio de Contraseña</button>

    </form>

</div>

<div class="justify-centered" *ngIf="isTokenExpired">

    <p class="text-title-2 mb-16">
        Este Enlace<br/>
        Ha Expirado
    </p>

    <p class="text-subtle mb-16">Si aún requieres reiniciar tu contraseña, te sugerimos solicitar un nuevo enlace de reinicio.</p>

    <a class="form-button" routerLink="auth/forgot-password">Solicitar Nuevo Enlace</a>

</div>