<div class="quote-user-info">

  <div>
    <span class="text-small-regular">Cliente</span>
    <p class="text-body-medium">{{user?.aliasCustumer}}</p>
  </div>

  <div *ngIf="address">
    <span class="text-small-regular">Dirección</span>
    <p class="text-body-medium">{{address}}</p>
  </div>

  <div>
    <span class="text-small-regular">Atención</span>
    <p class="text-body-medium">{{user?.firstNameUser}} {{user?.lastNameUser}}</p>
    <p class="text-body-medium">{{user?.position}} <span *ngIf="user?.position || user?.department">/</span> {{user?.department}}</p>
  </div>

  <div class="quote-user-info__contact">
    <div>
      <span class="text-small-regular">Teléfono</span>
      <p class="text-body-medium">{{user?.phoneNumberUser}}</p>
    </div>
    <div>
      <span class="text-small-regular">Email</span>
      <p class="text-body-medium">{{user?.emailUser}}</p>
    </div>
  </div>
</div>
