<div class="file-uploader">
  <div>
    <div class="circle-icon xs-small dark" *ngIf="!fileUploadSuccess">
      <img
        src="assets/icons/page.svg"
        alt="icon pdf"
        width="25"
        height="32"
      >
    </div>
    <img
      *ngIf="fileUploadSuccess"
      src="assets/icons/pdf-icon.png"
      alt="icon pdf"
      width="24"
      height="24"
    >
  </div>
  <div class="disclaimer text-body-medium text-blue-600 underline">
    <div *ngIf="!fileUploadSuccess" (click)="fileInput.click()">
      <span>Sube Tu Archivo</span>
      <span>De Orden De Compra Aquí</span>
      <input #fileInput type="file" accept=".pdf" class="display-none" (change)="onFileSelected($event)" />
    </div>
    <div *ngIf="fileUploadSuccess">
      {{fileName}}
    </div>
    <div *ngIf="isUploading">
      <atm-loader-points/>
    </div>
  </div>
  <button class="remove-file" (click)="onFileDeleted()" *ngIf="fileUploadSuccess">
    <ng-icon name="heroXMark" size="24" color="#EF4444"/>
  </button>
</div>
