.active-order-not-saved-banner {
  background-color: var(--orange-50);
  border: 1px solid var(--orange-500);
  &__content {
    column-gap: 0.5rem;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    max-width: 1280px;
    padding: 12px 40px;
    width: 100%;
  }
}
