.skeleton-card {
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 8px;
  width: 100%;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .skeleton {
    animation: pulse 1.5s infinite ease-in-out;
    background: #e0e0e0;
    display: inline-block;

    &--avatar {
      border-radius: 50%;
      height: 26px;
      width: 26px;
    }

    &--text {
      height: 12px;
      width: 100%;
      &.short {
        width: 60%;
      }
    }

    &--image {
      border-radius: 1px;
      height: 130px;
      margin-bottom: 8px;
      width: 100%;
    }
  }
}

@keyframes pulse {
  0% {
    background-color: #f4f4f4;
  }

  50% {
    background-color: #e0e0e0;
  }

  100% {
    background-color: #f4f4f4;
  }
}
