<main class="server-error-page">
  <section class="server-error-page__message">
    <div class="server-error-page__message__content">
      <h1 class="text-big">Servidor <br class="only-mobile"> Sin Conexión</h1>
      <p class="text-paragraph">
        Nuestro equipo se encuentra trabajando diligentemente para resolver esta situación y volver a tener el servicio
        trabajando lo mas pronto posible.
      </p>
    </div>

    <div class="server-error-page__message__contact">
      <div>
        <p class="text-paragraph text-bold">¿Requieres ayuda inmediata?</p>
        <p class="text-paragraph">Ponte en contacto con nuestro equipo y con gusto te ayudamos.</p>
      </div>
      <ul>
        <li>
          <a href="tel:+525513151498" class="text-gray-green-700">
            CDMX <span class="text-primary-500">(55) 1315 1498</span>
          </a>
        </li>
        <li>
          <a href="tel:+523347701170" class="text-gray-green-700">
            GDL <span class="text-primary-500">(33) 4770 1170</span>
          </a>
        </li>
        <li>
          <a href="mailto:ventas@proquifa.com.mx" class="text-primary-500">ventas&#64;proquifa.com.mx</a>
        </li>
      </ul>
    </div>
  </section>

  <section class="server-error-page__image">
    <img src="assets/icons/server-error.svg" alt="unplugged icon">
  </section>
</main>
