<header id="org-layout-header-container">
  <div class="org-layout-header">
    <button class="org-layout-header__menu" (click)="openMobileMenu()">
      <ng-icon name="heroBars3" size="24" color="white"></ng-icon>
    </button>

    <div class="org-layout-header__navigation">
      <img
        routerLink=""
        class="org-layout-header__navigation__logo"
        src="assets/icons/proquifa-logo-nav.svg"
        alt=""
      />

      <org-navigation-menu
        class="org-layout-header__catalogs"
        [categories]="categories"
      >
        <mol-nav-button>
          <ng-icon name="heroTag" size="24"></ng-icon>
          Catálogo
          <ng-icon name="heroChevronDown" size="16"></ng-icon>
        </mol-nav-button>
      </org-navigation-menu>
    </div>

    <org-mobile-navigation-menu
      *ngIf="isMobileMenuOpen"
      class="org-layout-header__catalogs--mobile"
      [categories]="categories"
      (closeMenu)="closeMobileMenu()"
    >
    </org-mobile-navigation-menu>

    <org-layout-search
      class="org-layout-header__search"
      (searchTermChange)="onSearchTermChange($event)"
      [optionsGroups]="productsGroups"
    ></org-layout-search>

    <div class="org-layout-header__actions">
      <mol-nav-button
        class="org-layout-header__account"
        (click)="openLogin()"
        *ngIf="!isAuthenticated"
      >
        <ng-icon class="icon" name="heroUser" size="24"></ng-icon>
        <span>Iniciar Sesión</span>
      </mol-nav-button>

      <mol-user-menu></mol-user-menu>

      <mol-nav-button class="org-layout-header__cart" routerLink="quote-cart">
        <ng-icon name="heroShoppingCart" size="24"></ng-icon>
        <label class="counter text-x-small" *ngIf="shoppingCart && shoppingCart.listQuotationItem.length > 0">{{shoppingCart.listQuotationItem.length}}</label>
      </mol-nav-button>

    </div>
    <org-login-modal *ngIf="authService.isOpenLoginModal()"></org-login-modal>
  </div>
</header>
