.file-uploader {
  align-items: center;
  background-color: white;
  border-radius: 2px;
  border: 1px solid var(--neutral-400);
  column-gap: 10px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 8px;
  width: 100%;

  .disclaimer {
    text-align: left;
    span {
      display: block;
    }
  }

  button.remove-file {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 0%;
    padding: 0px;
  }
}
