.modal-overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 8;
}

.modal-content {
  background: white;
  border-radius: 8px;
  padding-bottom: 1rem;
  position: relative;

  @media (min-width: 1024px) {
    width: 802px;
  }
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 16px 16px 0px 16px;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 24px;
    padding: 0;
    width: 24px;
  }
}
