.footer {
  background-color: var(--neutral-900);
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1040px;
    padding: 24px;

    &__grid {
      display: grid;
      gap: 32px;
      &__navigation {
        display: grid;
        gap: 32px;
        &__categories {
          display: flex;
          flex-direction: column;
          gap: 24px;
          .categories-list {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: repeat(4, 1fr);
            row-gap: 1rem;
          }
        }
        &__legal {
          display: flex;
          flex-direction: column;
          gap: 24px;
          .legal-list {
            display: flex;
            flex-direction: column;
            gap: 16px;
          }
        }
      }
      &__about {
        display: flex;
        flex-direction: column;
        gap: 24px;
        &__description {
          margin-top: 10px;
        }
        &__social {
          display: flex;
          gap: 24px;
          a {
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    hr {
      color: var(--neutral-600);
      margin: 24px 0px;
      size: 1px;
    }
  }

}

@media (min-width: 1024px) {
  .footer {
    &__content {
      padding: 40px 0px 40px 0px;
      &__grid {
        min-height: 246px;
        grid-template-columns: [col1] 70fr [col2] 26fr ;
        &__navigation {
          order: 1;
          grid-template-columns: 2fr 1fr 1fr;
          gap: 16px;
          &__categories {
            .categories-list {
              grid-template-columns: 1fr 1fr;
            }
          }
        }
        &__about {
          order: 2;
        }
      }
    }
  }
}
