.quote-product-card {
  border: solid 1px var(--neutral-400);
  border-radius: 2px;
  padding: 0.5rem;

  display: grid;
  row-gap: 0.8rem;
  column-gap: 4px;
  grid-template-columns: 1fr auto;
  grid-template-areas: "header action"
                       "info   info"
                       "totals totals";



  &__header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 0.5rem;

    .cas-cat {
      display: grid;
      column-gap: 0.5rem;
      grid-template-columns: 1fr 1fr;
    }

    .cas,
    .cat {
      p {
        font-weight: 650;
      }
    }

    .presentation {
      img {
        width: 50px;
        height: 50px;
      }
    }
    .brand {
      padding: 0.5rem;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__action {
    grid-area: action;
    button {
      border-color: var(--neutral-400);
      &:disabled {
        opacity: 0.5;
      }
    }
  }

  &__info {
    grid-area: info;
  }

  &__totals {
    grid-area: totals;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr;
    grid-template-areas:  "quantities measures prices total";
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    align-items: center;

    .quantities {
      grid-area: quantities;

      &__selector {
        margin-top: 0.4rem;

        span, button {
          display: inline-block;
        }
        span {
          margin: 0 0.5rem;
        }
        button {
          padding: 4px;
          line-height: 0.5rem;
        }
      }

      .delivery {
        font-style: italic;
      }
    }

    .measures {
      grid-area: measures;
    }

    .prices {
      text-align: right;
      grid-area: prices;
      .not-price {
        text-decoration: line-through;
        margin-right: 0.5rem;
      }
    }

    .total {
      grid-area: total;
      text-align: right;
    }
  }

  &__shipping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .express-tag {
      display: flex;
      align-items: center;
      gap: 8px;

      &.disabled {
        opacity: 0.5;
      }

      .express-tag-label {
        display: flex;
        align-items: center;
        gap: 4px;
        span {
          font-family: "Work Sans";
          font-size: 14px;
          line-height: 20px;
          font-weight: 600;
        }
      }
    }

  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "info"
                         "totals"
                         "action";
    &__totals {
      grid-area: totals;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:  "measures prices"
                            "quantities total";
    }

    &__shipping {
      flex-direction: column;
      align-items: start;
    }

    &__action {
      button {
        width: 100%;
      }
    }
  }

  input[type="checkbox"]:checked {
    background-color: white;
    border: 1px solid black;
    outline: 1px solid #E5E7EB;
  }

  input[type="checkbox"] {
    accent-color: white;
  }
}
