<div class="justify-centered" *ngIf="!isPasswordResetted">
    <p class="text-title-2">
        RECUPERA EL ACCESO <br>
        A TU CUENTA
    </p>
    <p class="text-subtle">Ingresa el correo asociado a tu cuenta para restablecer tu contraseña.</p>

    <form class="form-group mb-32" #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit(forgotPasswordForm)">

        <div class="form-control">

            <div class="text-body-medium text-gray-green-900 form-control__input">
                <input id="email" name="email" type="text" placeholder="Correo electrónico" email required ngModel
                    #emailInput="ngModel">
            </div>

            <div class="text-small text-red-700"
                *ngIf="(forgotPasswordForm.submitted || emailInput.dirty) && emailInput.invalid">
                <small class="text-small" *ngIf="emailInput.errors?.['email']">El formato de correo electrónico es
                    incorrecto</small>
                <small class="text-small" *ngIf="emailInput.errors?.['required']">El correo electrónico es
                    requerido</small>
            </div>

        </div>

        <button>Restablecer Contraseña</button>

    </form>

    <a class="text-blue-600 text-body" routerLink>Cancelar y Regresar</a>

</div>

<div class="justify-centered" *ngIf="isPasswordResetted">
    <p class="text-title-2 mb-16">
        REVISA TU CORREO <br>
        ELECTRÓNICO
    </p>
    <p class="text-subtle mb-32">¡Hemos recibido tu solicitud! En los próximos minutos recibirás un correo con las
        instrucciones para restablecer tu contraseña.</p>

    <div class="form-group">

        <a routerLink="" class="form-button">Regresar al inicio</a>

    </div>

</div>