.message {
  display: inline-block;
  font-family: "Work Sans";
  margin-left: 4px;
}
.loader {
  animation: rotate 1s linear infinite;
  border-radius: 50%;
  display:inline-block;
  height: 14px;
  position: relative;
  width: 14px;
}
.loader::before {
  animation: prixClipFix 2s linear infinite;
  border-radius: 50%;
  border: 2px solid #FFF;
  box-sizing: border-box;
  content: "";
  inset: 0px;
  position: absolute;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
