.file-uploader {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
  align-items: center;

  width: 100%;
  background-color: white;
  padding: 8px;
  border: 1px solid var(--neutral-400);
  border-radius: 2px;
  cursor: pointer;

  .disclaimer {
    text-align: left;
    span {
      display: block;
    }
  }
}
