<div class="file-uploader">
  <div class="circle-icon small dark">
    <img
        src="assets/icons/page.svg"
        alt="icon pdf"
        width="25"
        height="32"
      >
  </div>
  <div class="disclaimer text-body-medium text-blue-600 underline">
    <div *ngIf="!isUploading && !fileName" (click)="fileInput.click()">
      <span>Sube Tu Archivo</span>
      <span>De Orden De Compra Aquí</span>
      <input #fileInput type="file" accept=".pdf" class="display-none" (change)="onFileSelected($event)" />
    </div> 
    <div *ngIf="!isUploading && fileName">
      {{fileName}}
    </div>
    <div *ngIf="isUploading">
      <atm-loader/>
    </div>
  </div>

</div>
