<div class="pager">
  <button class="pager__btn --currentPage" [disabled]="currentPage <= 1" (click)="goToPreviousPage()">
    <ng-icon name="heroChevronLeft" size="24" strokeWidth="2"></ng-icon>
  </button>

  <ng-container *ngFor="let page of pageNumbers; let i = index">
    <button *ngIf="page > 0" class="pager__btn --hollow text-body-medium"
      [ngClass]="{ '--currentPage': currentPage === page }" (click)="setPage(page)">
      {{ page.toString().padStart(2, '0') }}
    </button>

    <ng-container *ngIf="page === -1">
      <button class="pager__btn --hollow" (click)="i === 1 ? jumpBackward() : jumpForward()">
        <ng-icon name="heroEllipsisHorizontal" size="24" strokeWidth="2"></ng-icon>
      </button>
    </ng-container>
  </ng-container>

  <button class="pager__btn --currentPage" [disabled]="currentPage >= totalPages" (click)="goToNextPage()">
    <ng-icon name="heroChevronRight" size="24" strokeWidth="2"></ng-icon>
  </button>
</div>
