<div class="purchase-order-details-page">
  <div class="breadcrumbs">
    <a routerLink="/quotes">
      <ng-icon name="heroArrowLeft" size="16"></ng-icon>
      Volver al administrador
    </a>
  </div>

  <main class="purchase-order-details-page__content" *ngIf="purchaseOrder">
    <section
      class="purchase-order-details-page__content__products"
      *ngIf="purchaseOrder">
      <h1>PARTIDAS DEL PEDIDO {{ purchaseOrder.folio }}</h1>
      <h4 class="text-title-4 m-0">Partidas</h4>
      <org-status-filter-carousel
        [items]="stateFiltersCarousel"
        (selectEmitter)="carouselItem($event)"></org-status-filter-carousel>
    </section>
    <section class="purchase-order-details-page__content__summary">
      <org-order-summary-card [purchaseOrder]="purchaseOrder" />
    </section>
  </main>
</div>
