.purchase-order-details-page {
  margin: 0 auto;
  max-width: 1200px;
  padding: 16px;

  &__content {
    display: grid;
    gap: 16px;
    h1 {
      margin: 0;
    }
    &__products {
      display: flex;
      flex-direction: column;
      gap: 8px;
      h1 {
        color: var(--primary-500);
        font-family: 'Stellar';
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 40px;
        margin: 16px 0 0 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  .purchase-order-details-page {
    margin: 32px auto;
    padding: 0px;
    a {
      padding: 0px 16px;
    }
    &__content {
      gap: 0px;
      grid-template-columns: [col1] 67.5fr [col2] 32.5fr;
      &__products {
        gap: 16px;
        padding: 16px;
        h1 {
          font-size: 36px;
          line-height: 46px;
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .purchase-order-details-page {
    &__content {
      &__products {
        & > .carousel {
          width: 396px;
        }
      }
    }
  }
}
