@import "normalize.css";
@import "./assets/styles/colors.scss";
@import "./assets/styles/texts.scss";
@import "./assets/styles/responsive.scss";
@import "./assets/styles/spacing.scss";
@import "./assets/styles/form-elements.scss";
@import "./assets/styles/button.scss";
@import "./assets/styles/commons.scss";
@import "./assets/fonts/stellar/stylesheet.css";
@import "@fontsource/work-sans";
@import "@fontsource/work-sans/500";
@import "@fontsource/work-sans/600";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
  height: 100dvh;
}

body,
app-root {
  display: block;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p,
h2 {
  margin: 0;
}

small {
  font-size: inherit;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
};
