.search {
  align-items: center;
  background-color: var(--white);
  border-radius: 2px;
  border: solid 1px var(--gray-green-900);
  column-gap: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 20px;
  outline: none;
  padding: 8px 12px 8px 16px;
  position: relative;

  &__input {
    align-items: center;
    border: none;
    column-gap: 8px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .search__input__close {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    input {
      border: none;
      flex-grow: 1;

      &:focus {
        outline: none;
      }
    }
  }

  &__results {
    background-color: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    display: unset;
    left: 0;
    padding: 16px 12px 4px 12px;
    position: absolute;
    top: calc(100% + 2px);
    width: 100%;
    z-index: 1;

    &__group {
      &__items {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      &__item {
        border-radius: 6px;
        padding: 6px 8px;

        &:hover {
          background-color: var(--gray-green-50);
        }
      }
    }
  }
}
