:root {

    --blue-600: #2563EB;
    --blue-900: #1E3A8A;

    --red-500: #EF4444;
    --red-600: #DC2626;
    --red-700: #B91C1C;

    --gray-400: #9CA3AF;

    --gray-green-50: #FCFDFC;
    --gray-green-100: #E9ECEB;
    --gray-green-200: #C3CBC9;
    --gray-green-300: #A0ABA9;
    --gray-green-400: #A3A3A3;
    --gray-green-500: #627470;
    --gray-green-600: #4F5D5A;
    --gray-green-700: #3C4745;
    --gray-green-800: #2B3231;
    --gray-green-900: #151919;

    --orange-100: #FFEDD5;
    --orange-700: #C2410C;

    --primary-50: #F8FBFC;
    --primary-200: #CCEBE2;
    --primary-500: #2B7777;
    --primary-900: #071D1D;

    --neutral-50: #FAFAFA;
    --neutral-100: #F5F5F5;
    --neutral-200: #E5E5E5;
    --neutral-400: #A3A3A3;
    --neutral-600: #525252;
    --neutral-800: #2B3231;
    --neutral-900: #171717;

    --slate-100: #F1F5F9;
    --slate-300: #CBD5E1;

    --white: #FFFFFF;

    --yellow-50: #FEFCE8;
    --yellow-200: #FEF08A;

    --bg-overlay: rgba(21, 25, 25, 0.8);
    --accent-500: #43FCD0;
}