:root {
  --blue-600: #2563eb;
  --blue-900: #1e3a8a;

  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;

  --gray-400: #9ca3af;

  --gray-green-50: #fcfdfc;
  --gray-green-100: #e9eceb;
  --gray-green-200: #c3cbc9;
  --gray-green-300: #a0aba9;
  --gray-green-400: #a3a3a3;
  --gray-green-500: #627470;
  --gray-green-600: #4f5d5a;
  --gray-green-700: #3c4745;
  --gray-green-800: #2b3231;
  --gray-green-900: #151919;

  --orange-100: #ffedd5;
  --orange-500: #f97316;
  --orange-700: #c2410c;

  --primary-50: #f8fbfc;
  --primary-200: #ccebe2;
  --primary-500: #2b7777;
  --primary-900: #071d1d;

  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-400: #a3a3a3;
  --neutral-600: #525252;
  --neutral-800: #2b3231;
  --neutral-900: #171717;

  --slate-100: #f1f5f9;
  --slate-300: #cbd5e1;

  --white: #ffffff;

  --yellow-50: #fefce8;
  --yellow-200: #fef08a;

  --bg-overlay: rgba(21, 25, 25, 0.8);
  --accent-500: #43fcd0;
  --menu-box-shadow: 4px 4px 6px -4px #000000;
}
