html {
  scroll-behavior: smooth;
}

.display-none {
  display: none !important;
}

.quote-status {
  font-family: "Work Sans";
  font-size: 8px;
  font-weight: 800;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 1px 4px;
  border-radius: 4px;

  &.valid {
    color: var(--green-900);
    background-color: var(--green-200);
  }
}

.blurred-text {
  position: relative;
  color: transparent;
  filter: blur(3px);
  text-shadow: 0 0 3px #2B7777;
}
