html {
  scroll-behavior: smooth;
}

.display-none {
  display: none !important;
}

.quote-status {
  border-radius: 4px;
  display: inline-block;
  font-family: "Work Sans";
  font-size: 8px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 12px;
  padding: 1px 4px;
  text-transform: uppercase;

  &.valid {
    color: var(--green-900);
    background-color: var(--green-200);
  }
}

.blurred-text {
  color: transparent;
  filter: blur(2px);
  letter-spacing: 2px;
  opacity: 0.4;
  position: relative;
  text-shadow: 0 0 5px #CCEBE2;
}

.no-select {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.double-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  :nth-child(2) {
    text-align: right;
  }
}

.circle-icon {
  align-items: center;
  background-color: var(--neutral-50);
  border-radius: 50px;
  display: inline-flex;
  height: 100px;
  justify-content: center;
  width: 100px;
  img {
    max-height: 70px;
    max-width: 70px;
  }

  &.small {
    height: 70px;
    width: 70px;
    img {
      max-height: 50px;
      max-width: 50px;
    }
  }

  &.xs-small {
    height: 50px;
    width: 50px;
  }

  &.dark {
    background-color: var(--neutral-200);
  }
}

.breadcrumbs {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0.5rem;
  padding: 4px 0;

  a {
    color: var(--primary-900);
    column-gap: 0.5rem;
    display: inline-grid;
    grid-template-columns: auto 1fr;
    line-height: 16px;
    text-decoration: none;
  }
}

.folio-blue {
  color: var(--blue-600);
}
.folio-green {
  color: var(--primary-600);
}

.folio-blue, .folio-green {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: underline;
}

.error-alert {
  background-color: var(--error);
  border-radius: 6px;
  border: 1px solid var(--error-dark);
  color: var(--error-white);
  padding: 1rem;
}
