.quotes-page {

    &__header {
        &__opts {
            margin-bottom: 1rem;
            display: grid;
            grid-template-columns: 2fr 1fr;
            row-gap: 1rem;;
        }

        &__tabs {
            button {
                display: inline-block;
                border: 0;
                margin-right: 0.25rem;
                border-radius: 4px;
                &.selected {
                    background-color: var(--slate-100);
                }
            }
        }

        &__search {
            text-align: right;
            input {
                padding: 0.5rem 1rem;
                border: 1px solid var(--gray-400);
                border-radius: 4px;
                outline: none;
            }
        }
    }

    &__content {
        &__section {
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            grid-template-areas: 'list description';
            column-gap: 1rem;

            .list {
                grid-area: list;
            }
            .description {
                grid-area: description;
            }

        }
        &__empty-state {
            text-align: center;
            padding: 2rem;
            .img-halo {
                background-color: var(--neutral-50);
                display: inline-block;
                padding: 1rem;
                border-radius: 50px;
            }
            label {
                display: block;
                max-width: 170px;
                margin: 1rem auto;
            }
        }
    }

    @media (max-width: 768px) {
        &__header {
            &__opts {
                grid-template-columns: 1fr;
            }
            &__search {
                input {
                    width: 100%;
                }
            }
        }
        &__content {
            &__section {
                grid-template-columns: 1fr;
                grid-template-areas: 'description'
                                     'list';
                .description {
                    border-top: 1px solid var(--gray-green-100);
                    border-bottom: 1px solid var(--gray-green-100);
                    h3 {
                        cursor: pointer;
                        &.collapsed {
                        }
                    }
                }
            }
        }
    }
}