<div class="quotes-page">
  <header class="quotes-page__header">
    <h1 class="text-title-3">Pedidos</h1>

    <div class="quotes-page__header__opts">
      <div class="quotes-page__header__tabs">
        <button class="btn tab text-subtle" *ngFor="let t of tabs" [ngClass]="{ selected: tab.key == t.key }" (click)="updateTab(t.key)">
          {{t.title}}
        </button>
      </div>

      <div class="quotes-page__header__search">
        <input class="text-body" type="text" placeholder="Filtrar por folio" [(ngModel)]="q" (keydown.enter)="loadQuotes()"/>
      </div>
    </div>
  </header>

  <div class="quotes-page__content">
    <div class="quotes-page__content__section">
      <div class="list">
        <div class="quotes-page__content__section__header">
          <h3 class="text-title-4">{{tab.title}}</h3>
          <div class="actions">
            <button routerLink="/orders/creation" type="button" class="create-order-btn btn text-paragraph" *ngIf="tab.key == 'quotes'">Tramitar Pedido</button>
          </div>
        </div>

        @if(!quotes) {
          <atm-loader/>
        } @else if(quotes.length > 0) {
          <org-quotes-list [quotes]="quotes"></org-quotes-list>
        } @else {
          <div class="quotes-page__content__empty-state">
            <div class="img-halo">
              <img src="assets/icons/empty-page.svg">
            </div>
            <label class="text-large text-neutral-400">{{ tab.emptyMessage }}</label>
          </div>

        }
      </div>
      <div class="description">
        <org-quotes-description [descriptionType]="tab.key"></org-quotes-description>
      </div>
    </div>

  </div>
</div>
