.active-order-banner {
  background-color: var(--orange-50);
  border: 1px solid var(--orange-500);
  &__content {
    margin: 0 auto;
    max-width: 1280px;
    padding: 12px 40px;
    width: 100%;
  }
}
