.purchase-order-totals {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__total {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
  }
}
