.skeleton-product-detail-card {
  display: grid;
  padding: 16px;
  row-gap: 16px;

  &__left {
    background: white;
    width: 100%;

    .header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 16px 0px;
    }
    .wrapper {
      width: 41%;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    .top {
      padding: 16px 0px;
    }
    .bottom {
      display: grid;
      gap: 8px;
    }
  }

  .skeleton {
    animation: pulse 1.5s infinite ease-in-out;
    background: #e0e0e0;
    display: inline-block;

    &--avatar {
      border-radius: 50%;
      height: 26px;
      width: 26px;
    }

    &--text {
      height: 12px;
      width: 100%;

      &.short {
        width: 60%;
      }
    }

    &--image {
      border-radius: 1px;
      height: 165px;
      width: 100%;
    }

    &--title {
      height: 12px;
      width: 67px;
    }

    &--description {
      height: 28px;
      width: 100%;
    }

    &--footer {
      height: 28px;
      width: 50%;
      &.short {
        width: 25%;
      }
    }
  }

  @media (min-width: 1024px) {
    column-gap: 16px;
    display: grid;
    grid-template-columns: 35% 1fr;
  }
}


@keyframes pulse {
  0% {
    background-color: #f4f4f4;
  }

  50% {
    background-color: #e0e0e0;
  }

  100% {
    background-color: #f4f4f4;
  }
}
