.org-info-card {
  align-items: top;
  border-radius: 6px;
  border: 1px solid var(--red-700);
  column-gap: 8px;
  display: grid;
  grid-template-columns: 16px 1fr;
  padding: 16px;
  &__description {
    margin-top: 1rem;
  }
}
