.product-details-card {
  row-gap: 32px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  &__context {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-areas:
      "banner"
      "headings"
      "info";
  }

  &__banner {
    grid-area: banner;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
    border-radius: 2px;
    background-color: var(--yellow-300);
    color: var(--yellow-900);
    padding: 2px;
    span {
      margin: 0;
      padding: 0;
    }
    &.controlled {
      background-color: var(--orange-100);
      color: var(--orange-700);
      padding: 12px 8px;
    }
  }

  &__headings {
    grid-area: headings;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__container {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    &__section {
      align-items: center;
      display: flex;
      gap: 8px;
    }

    &__image {
      align-items: center;
      background-color: var(--neutral-100);
      display: flex;
      justify-content: center;
      padding: 23px;

      img {
        height: 120px;
        object-fit: cover;
        width: 120px;
      }
    }
  }

  &__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
    row-gap: 8px;

    &__controlled {
      display: flex;
      gap: 2px;
      align-items: center;
      span {
        color: var(--orange-700);
      }
    }

    h1 {
      margin: 0px;
    }

    &__market {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__pricing {
        .regular-price {
          font-family: "Stellar";
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
          text-transform: uppercase;
        }
      }

      &__cart {
        display: flex;
        flex-direction: column;
        padding-left: 0.5rem;

        &__product-units {
          width: 74px;
          text-align: center;
        }

        &__actions {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          row-gap: 4px;
          .btn {
            padding: 7px;
            border-color: var(--gray-400);
            &:disabled {
              cursor: default;
              opacity: 1;
            }
          }
        }
      }
    }

    &__footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      button.btn {
        width: 100%;
        &:disabled {
          opacity: 0.8;
        }
      }
    }

    .see-all-details-link {
      font-family: "Work Sans";
      display: flex;
      align-items: center;
      gap: 4px;
      color: var(--primary-500);
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (min-width: 1024px) {
  .product-details-card {
    row-gap: 22px;
    &__context {
      display: flex;
      flex-direction: row;
      gap: 24px;
      justify-content: space-between;
    }

    &__headings {
      width: 280px;
      flex-shrink: 0;
    }

    &__info {
      flex: 1;
      padding: 0px;
      &__market {
        &__pricing {
          .regular-price {
            font-size: 36px;
            font-weight: 700;
            line-height: 40px;
          }
        }

        &__cart {
          .text_unit_measure {
            text-align: right;
          }
        }
      }
      &__footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        button.btn.--primary {
          width: fit-content;
        }
      }
    }

    &__banner {
      &.controlled {
        padding: 6px 8px;
      }
    }
  }
}
