<div class="product-details-card">
  <div class="product-details-card__auth" *ngIf="!isLogged">
    <atm-auth-banner />
  </div>
  <div class="product-details-card__context">
    <div class="product-details-card__headings">
      <!-- Headings -->
      <div class="product-details-card__headings__container">
        <div>
          <!-- Cas -->
          <div
            class="product-details-card__headings__section"
            [ngClass]="{ empty: !product?.cas }"
          >
            <p class="m-0 text-subtle">CAS</p>
            <p class="m-0 text-paragraph text-bold">
              <span *ngIf="product?.cas; then cas; else empty"></span>
              <ng-template #cas> {{ product?.cas }} </ng-template>
              <ng-template #empty>-</ng-template>
            </p>
          </div>

          <!-- Cat -->
          <div
            class="product-details-card__headings__section"
            [ngClass]="{ empty: !product?.catalog }"
          >
            <p class="m-0 text-subtle">CAT</p>
            <p class="m-0 text-paragraph text-bold">
              <span *ngIf="product?.catalog; then catalog; else empty"></span>
              <ng-template #catalog> {{ product?.catalog }} </ng-template>
              <ng-template #empty>-</ng-template>
            </p>
          </div>
        </div>

        <img
          *ngIf="brandImgPath"
          [src]="brandImgPath"
          alt="product brand"
          width="32px"
          height="32px"
        />
      </div>

      <!-- Image -->
      <div class="product-details-card__headings__image">
        <img [src]="presentationImgPath" alt="brand image" />
      </div>
    </div>
    <div class="product-details-card__info">
      @if (isControlled) {
        <div class="product-details-card__info__controlled" *ngIf="isControlled">
          <ng-icon size="16" strokeWidth="2" name="heroLockClosed" color="#C2410C"></ng-icon>
          <span class="text-x-small">Controlado</span>
        </div>
      } @else {
        <h1
          class="product-details-card__info__title text-bold text-subtle text-primary-900"
        >
          {{ product?.type }}
        </h1>
      }

      <p
        class="product-details-card__info__description text-paragraph-2 text-gray-green-900"
      >
        {{ product?.description }}
      </p>

      @if (isControlled && !isLogged) {
        <p class="product-details-card__banner text-small-regular text-center">
          Regístrate para obtener un mejor precio
        </p>
      } @else {
        <p class="product-details-card__banner text-small-regular text-center" *ngIf="!isLogged">
            Regístrate para obtener un mejor precio
        </p>
        <div class="product-details-card__info__market">
          <div class="product-details-card__info__market__pricing">
            <p
              class="text-paragraph text-gray-green-500 line-through"
              *ngIf="offert"
            >
              {{ offert.unitPrice | usdCurrency }}
            </p>
            <p class="regular-price text-primary-500">
              {{ product?.offert?.unitPrice | usdCurrency }}
              <span class="text-paragraph text-gray-green-900">p/u</span>
            </p>
          </div>
          <div class="product-details-card__info__market__cart">
            <p class="text-paragraph text_unit_measure">
              U. Medida
              <span class="text-bold"> {{ product?.unitMeasure }} </span>
            </p>
            <div class="product-details-card__info__market__cart__actions">
              <button class="btn" (click)="updateProductUnits(-1)" [disabled]="productUnits <= 1">
                <ng-icon name="heroMinus" size="24"></ng-icon>
              </button>
              <span
                class="product-details-card__info__market__cart__product-units text-title-3 text-gray-green-800"
              >
                {{ productUnits }}
              </span>
              <button class="btn" (click)="updateProductUnits(1)">
                <ng-icon name="heroPlus" size="24"></ng-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="product-details-card__info__footer">
          <p
            class="text-paragraph text-blue-900"
            *ngIf="product?.offert?.deliveryTimeDays"
          >
            Envío en
            <span class="text-bold text-center">{{
              product?.offert?.deliveryTimeDays
            }}  Días</span>
          </p>
          <button class="btn --primary shooping-car-button" (click)="addToQuotation()" [disabled]="isAddingToCar">
            <ng-icon name="heroShoppingCart" size="24"></ng-icon>
            <span class="text-large">Agregar a Cotización</span>
          </button>
          <ng-content></ng-content>
        </div>
      }

      <a
        *ngIf="showSeeAllDetails"
        [href]="'/products/' + product?.idProduct" class="see-all-details-link no-decoration"
      >
        Ver todos los detalles
        <ng-icon size="16" name="heroChevronRight"></ng-icon>
      </a>
    </div>
  </div>
</div>
